{% extends 'inSingAdminBundle::layout.html.twig' %}

{% block title %}Cache Reset Page{% endblock %}

{% block body %}
    <fieldset>
        <legend class="legend">Reset Cache Page</legend>
        <div class="fieldset_container">
            {% if command_running_flagged != true %}
                <button id="homepage-caches-reset" reset="no">Reset Homepage Cache</button>
            {% else %}
                <button id="homepage-caches-reset" reset="yes" style="background-color: #bbb">Reset Homepage Cache</button>
            {% endif %}

            {% if command_running_flagged != true %}
                <div id="msg-reset-homepage-caches" style="display: none;padding-top: 5px">Homepage cache is resetting. Please wait...</div>
            {% else %}
                <div id="msg-reset-homepage-caches" style="padding-top: 5px">Homepage cache is resetting. Please wait...</div>
            {% endif %}
            <input type="hidden" id="homepage-reset-caches-url" value="{{ url('in_sing_admin_reset_all_caches') }}">
            <div id="homepage-caches-reset-dialog" title="Confirmation Required" style="display: none">
                Are you sure you want to reset all caches?
            </div>
        </div>
    </fieldset>
{% endblock %}
{% block bottom_javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            //set background color button to gray
            if ('yes' == $('#homepage-caches-reset').attr('reset')){
                $('#msg-reset-homepage-caches').show();
            }

            //event triggered when click "clear caches" button
            $('#homepage-caches-reset').click(function(){
                if('yes' != $(this).attr('reset'))
                {
                    $("#homepage-caches-reset-dialog").dialog({
                        modal: true,
                        open: function () {                         // open event handler
                            $(this)                                // the element being dialogged
                                    .parent()                          // get the dialog widget element
                                    .find(".ui-dialog-titlebar-close") // find the close button for this dialog
                                    .hide();                           // hide it
                        },
                        buttons: {
                            "Yes": function () {
                                $(this).dialog("close");

                                $.ajax({
                                    url: $('#homepage-reset-caches-url').val(),
                                    type: 'GET',
                                    data: {}
                                });
                                $('#homepage-caches-reset').attr('reset', 'yes');
                                $('#homepage-caches-reset').css('background-color', '#bbb');
                                $('#msg-reset-homepage-caches').show();

                            },
                            "No": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}