<div class="event-list-wrap">
    <div class="month os-bold-ts">{{ key }}</div>
    {% for event_data in event_list  %}
        <div class="event-list">
            <div class="item">
                <div class="photo">
                    <figure class="align-focus">
                        <a href="{{ path('event_details', {'slug': event_data.name|slug(event_data.name), 'reversedHexId': event_data.id|idToReversedHex  }) }}" title="{{ event_data.name }}">
                            <img src="{{ event_data.default_image_resource_url|generateFullResourceUrl('151x114') }}" alt="{{ event_data.name }}">
                        </a>
                    </figure>

                    {# BEGIN check and show "buy tickets", "free", "to be advised"#}
                    {% if (event_data.price_min is defined and event_data.price_min is not null)
                    and (event_data.price_max is defined and event_data.price_max is not null) %}
                        {% set paid = false %}
                        {% if event_data.price_min == 0 and event_data.price_max == 0 %}
                            {% if event_data.end_date is defined and "now"|date('Y-m-d') <=
                            event_data.end_date|date('Y-m-d')  %}
                                <a href="javascript:void(0);" onclick="this.href='{{ path('event_details', {'slug': event_data.name|slug(event_data.name), 'reversedHexId': event_data.id|idToReversedHex  }) }}'" class="link button-corner-cut green" title="Free">
                                    <span>Free</span>
                                </a>
                            {% endif %}
                        {% elseif event_data.price_min > 0 or event_data.price_max > 0 %}
                            {% set paid = true %}
                        {% else %}
                            <a href="javascript:void(0);" onclick="this.href='{{ path('event_details', {'slug': event_data.name|slug(event_data.name), 'reversedHexId': event_data.id|idToReversedHex  }) }}'" class="link button-corner-cut green" title="View">
                                <span>View</span>
                            </a>
                        {% endif %}
                        {% if paid and event_data.vendor_url %}
                            {% if event_data.end_date is defined and "now"|date('Y-m-d') <= event_data.end_date|date('Y-m-d')  %}
                                {% if(event_data.vendor_url is defined and event_data.vendor_url != "") %}
                                    {% set event_purchaseTicketUrl =  event_data.vendor_url %}
                                {% else %}
                                    {% set event_purchaseTicketUrl =  "" %}
                                {% endif %}
                                <a href="javascript:void(0);" onclick="this.href='{{ event_purchaseTicketUrl }}'" class="link button-corner-cut green" title="Buy tickets">
                                    <span>Buy tickets</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {# END #}
                </div>
                <div class="entry">
                    <h3 class="rs-regular-s"><a href="{{ path('event_details', {'slug': event_data.name|slug(event_data.name), 'reversedHexId': event_data.id|idToReversedHex  }) }}">{{ event_data.name }}</a></h3>

                    {% if(event_data.enhanced_venue is defined and event_data.enhanced_venue.id is defined and event_data.enhanced_venue.id is not null  ) %}
                        <div class="type"><a href="#" title="">{{ event_data.venue.name|raw }}</a></div>
                    {% else %}
                        <div class="type">{{ event_data.venue.name }}</div>
                    {% endif %}

                    <div class="time">{{ event_data.start_date|date('M j, Y') }} - {{ event_data.end_date|date('M j, Y') }}</div>


                    {% if (event_data.price_min is defined or event_data.price_max is defined) %}
                    <div class="payment">
                        {% if (event_data.price_min > 0) %}
                            {{ 'S$' ~ event_data.price_min|number_format(2, '.', ',') }}
                        {% endif %}

                        {% if (event_data.price_min > 0 and event_data.price_max > 0) %}
                            {{ ' - S$' ~ event_data.price_max|number_format(2, '.', ',') }}
                        {% elseif (event_data.price_min < 0 and event_data.price_max > 0) %}
                            {{ ' S$' ~ event_data.price_max|number_format(2, '.', ',') }}
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="desc isTruncate" data-truncate-line="4">{{ event_data.description| raw }}</div>
                </div>
            </div>
        </div>
    {% endfor%}
    <!-- .event-list -->
</div>