{% extends "inSingFrontendBundle::layout.html.twig" %}
{% set classBody = 'class="page-event"' %}
{% block title %}Event Finder - New InSing{% endblock %}
{% block body %}
    <!-- page-container -->
    <div id="page-container" class="page-event-finder">
        <div class="wrapper-top">
            <!-- breadcrumbs -->
            {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
        </div>
        <div class="wrapper-middle">
            <div class="middle-left">
                <div class="left-main">
                    <div class="container">
                    <!-- module search -->
                    {{ render(controller('inSingFrontendBundle:Common:renderSearchEventBox')) }}
                    <!-- .latest events news -->
                    {{ render(controller('inSingFrontendBundle:Common:renderLatestEventsNews')) }}
                    <!-- .event-list -->
                    {% include "inSingFrontendBundle:EventFinder:_list_of_events_and_loading.html.twig" with { results: results } %}
                    </div>
                    <!-- .event-list-wrap -->
                </div>
            </div>
            <aside class="middle-right">
                <!-- MPU ADS -->
                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
                <div class="mpu-ads mpu-mobile">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_mobile.html.twig' %}
                </div>
                <!-- /MPU ADS -->
                <!-- submit event module -->
                {{ render(controller('inSingFrontendBundle:Common:renderSubmitEventRight')) }}
            </aside>
        </div>
    </div>
{% endblock body %}
{% block js_lib_top %}
    {{ parent() }}
    {%
    javascripts filter='yui_js' output = 'bundles/insingfrontend/js/*.js'
    '@inSingFrontendBundle/Resources/public/js/event-finder.js'
    %}
    <script type="text/javascript"  src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}