<div class="content">
    <div class="photo-gallery">
        <div class="summary">
            <p>{{ gallery.summary | raw }}</p>
        </div>
        <div class="content-slideshow">
            <div class="slideshow-container">
                <div class="gallery-t">
                        <span class="show-thumbnail">
                              <a href="{{ path('insing_frontend_gallery', {'slug': slug, 'hexId': hexId}) }}" title="Thumbnail view" class="icons ico-thumb active">
                                  [Thumbnail view]
                              </a>
                              <a href="{{ path('insing_frontend_gallery_slide', {'slug': slug, 'hexId': hexId}) }}" title="Gallery view" class="icons ico-gallery">
                                  [Gallery view]
                              </a>
                        </span>
                    <div id="controls" class="controls">
                        <div class="nav-controls">
                            <a title="&lsaquo; Previous Photo" rel="history" class="prev icons" href="#">&lsaquo; Previous Photo</a>
                            <span class="photo-index">1 of 1</span>
                            <a title="Next Photo &rsaquo;" rel="history" class="next icons" href="#">Next Photo &rsaquo;</a>
                        </div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.gallery-t -->
                <div id="loading" class="loader"></div>
            </div>
            <!-- /.slideshow-container -->
        </div>
        <!-- /.content-slideshow -->
        <div class="navigation-container navigation-thumb">
            <div id="thumbs" class="navigation">
                <ul class="thumbs">
                    {% if (gallery.images|length) %}
                        {% for key,item in gallery.images %}
                            <li>
                                <a class="thumb" href="{{ path('insing_frontend_gallery_slide', {'slug': slug, 'hexId': hexId}) }}#photo-{{ key + 1 }}">
                                    <img src="{{ item.image_url|generateFullResourceUrl('136x102') }}" alt="" />
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <!-- /.navigation -->
        </div>
        <!-- /.navigation-container -->
    </div>
    <!-- /.photo-gallery -->
</div>