{% extends "inSingFrontendBundle::layout.html.twig"  %}
{% block title %}{{ getParameter('insing_frontend_home_page_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_home_page_meta_description') }}
{% endblock %}
{% set classBody = '' %}
{#{% block js_lib_top %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/insingfrontend/js/homepage.js') }}"></script>
{% endblock %}#}
{% block body %}
    <!-- page-container -->
    <div id="page-container" class="page-home">
        <div class="wrapper-top">
            <!-- carousel -->
            {{ render(controller('inSingFrontendBundle:Home:renderCarousel')) }}
            <!-- top-movie -->
            {{ render(controller('inSingFrontendBundle:Home:renderTopMovie')) }}
            <!-- hgw-deal-->
            {{ render(controller('inSingFrontendBundle:Home:renderHgwDeal')) }}
            <!-- event-highlight-->
            {{ render(controller('inSingFrontendBundle:Home:renderEventHighLight')) }}
            <!-- event-spot -->
            {#{{ render(controller('inSingFrontendBundle:Home:renderEventSpot')) }}#}
            <!--form book-now-->
            {{ include('inSingFrontendBundle:_Partial:_booknowform.html.twig') }}
        </div>
    </div>
{% endblock body %}
{% block js_lib_bottom %}
    {{ parent() }}
    {% javascripts filter='yui_js' output = 'bundles/insingfrontend/js/*.js'

    '@inSingFrontendBundle/Resources/public/js/homepage.js'
    '@inSingFrontendBundle/Resources/public/js/jquery.cookie.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}