<div class="module-event-submit container">
    <figure class="thumbnail">
        <a href="{{ path('insing_frontend_events_submit') }}">
            <img src="{{ asset('bundles/insingfrontend/images/demo/event-submit-thumb.jpg') }}" alt="">
        </a>
        <a href="{{ path('insing_frontend_events_submit') }}" class="link button-corner-cut green">
            <span>SUBMIT EVENT</span>
        </a>
    </figure>
</div>