<div class="module-event-spot container">
    <div class="header-wrap">
        <h3 class="title os-extrabold-s">Popular Event spots</h3>
        <p class="desc">Click to find out the areas</p>
    </div>
    <div class="map">
        <img src="{{ asset('bundles/insingfrontend/images/demo/map.png') }}" alt="">
    </div>
</div>