<div class="module-find-activity container hidden-xs" id="module-find-activity">
    <div class="inner">
            <h3 class="os-extrabold-ts title-wrap">Find An Activity</h3>
            <div class="panel">
                {% if(channel=='events') %}
                    <!-- dropdown -->
                    <div class="dropdown dropdown-checklist">
                        <div class="dropdown-head">
                            <span class="value">All Events</span>
                            <i class="icon icon-arrow-down"></i>
                        </div>
                        <div class="dropdown-container">
                            <input type="hidden" class="event_category" name="event_page_event_category[]" value="">
                            <div class="dropdown-caption">EVENT TYPES</div>
                            <div class="list checklist-green">
                                {% for item in event_category %}
                                    <div class="item">
                                        <label class="iCheckbox">
                                            <input type="checkbox" name="" id="{{ item.url_fragment }}" value="{{ item.url_fragment }}"> {{ item.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <!-- dropdown-datepicker -->
                <!-- datepicker -->
                 <div class="dropdown dropdown-datepicker range-select" activity="event-datepicker">
                    <div class="dropdown-head">
                        <span class="value">Select a Date</span>
                        <input type="text" class="datepicker" readonly="readonly" name="date">
                        <input type="hidden" class="fromdate event_date_fromdate" readonly="readonly">
                        <input type="hidden" class="todate event_date_todate" readonly="readonly">
                        <i class="icon icon-calendar"></i>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="action">
                <button type="submit" class="link link-go-sidebar  button-corner-cut green"><span>Search</span></button>
                <input type="hidden" id="find-an-activity-channel"  value="{{ channel }}">
            </div>
    </div>
</div>