<div class="module-search hidden-xs" id="events_search_box">
    <h3 class="os-extrabold-ts title-wrap">WHAT TO DO TODAY?</h3>
    <div class="entry">
        <div class="control-input">
            <input type="text" class="input-search input-search-key" id="event-page-input-search-key" value="{{ data_search.term }}" placeholder="Type and hit enter">
            <!-- list autocomplete -->
            <div class="autoComplete-search" >
            </div>
        </div>

        <!-- datepicker -->
        <div class="dropdown dropdown-datepicker range-select" activity="event-datepicker">
            <div class="dropdown-head" >
                <span class="value">
                    {% if(data_search.date_remove) %}
                        {{ data_search.date_remove }}
                    {% else %}
                        Select a Date
                    {% endif %}

                </span>
                <input type="text" class="datepicker" readonly="readonly">
                <input type="hidden" class="fromdate event_date_fromdate" value="{{ data_search.from_date }}" readonly="readonly">
                <input type="hidden" class="todate event_date_todate" value="{{ data_search.to_date }}" readonly="readonly">
                <i class="icon icon-calendar"></i>
            </div>
        </div>
        <!-- dropdown -->
        <div class="dropdown dropdown-checklist">
            <div class="dropdown-head">
                <span class="value" id="events-search-number-selected" >

                    {% if(data_search.category) %}
                        {{ data_search.category|length }} Selected

                    {% else %}
                        All Events
                    {% endif %}
                    </span>
                <i class="icon icon-arrow-down"></i>
            </div>
            <div class="dropdown-container">
                <input type="hidden"  class="event_category" name="event_page_event_category[]" value="{% if(data_search.category) %}{% for keys, subitem in data_search.category %}{% if(loop.first==false) %},{% endif %}{{ keys }}{% endfor %}{% endif %}">
                <div class="dropdown-caption">EVENT TYPES</div>
                <div class="list checklist-green">
                    {% for item in event_category %}
                        {% set check = "" %}
                        <div class="item">
                            {% if(data_search.category) %}
                                {% for keys, subitem in data_search.category %}
                                    {% if( keys == item.url_fragment ) %}
                                        {% set check = "checked" %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <label class="iCheckbox {{ check }}">
                                <input type="checkbox" {{ check }} name="" id="events-search-box-{{ item.url_fragment }}" value="{{ item.url_fragment }}"> {{ item.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- link -->
        <a href="#" class="link link-go-event-page button-corner-cut button-large green"><span>GO</span></a>
    </div>
</div>
<!-- tags -->
<div class="tags-list">
    <h3 class="os-extrabold-ts title-wrap visible-xs">WHAT TO DO TODAY?</h3>
    <ul class="list list-unstyled">
        {% if(data_search.term) %}
        <li>
            <a href="javascript:;" class="tag">{{ data_search.term }}</a>
        </li>
        {% endif %}
        {% if(data_search.from_date) %}
        <li>
            <a  href="javascript:;" class="tag">{{ data_search.from_date }}
                {% if(data_search.to_date) %}
                   - {{ data_search.to_date }}
                {% endif %}
            </a>
        </li>
        {% endif %}
        {% if(data_search.category) %}
            {% for item in data_search.category %}
            <li>
                <a  href="javascript:;" class="tag">{{ item }}</a>
            </li>
            {% endfor %}
        {% endif %}

    </ul>
</div>
