.button-corner-cut {
  padding: 0 6px;
  height: 30px;
  line-height: 30px;
  max-height: 30px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-family: @fontFamilyOpenSansBold;
  font-size: 11px;
  position: relative;
  display: inline-block;
  border: none;
  background: transparent;
  span {
    background-color: @gray;
    color: @white;
    padding: 0 15px;
    display: block;
  }
  &:before,
  &:after {
    content: " ";
    width: 6px;
    height: 30px;
    position: absolute;
    background: url("@{iconSpritePath}") no-repeat;
  }
  &:before {
    left: 0;
    top: 0;
    background-position: -46px -76px;
  }
  &:after {
    right: 0;
    bottom: 0;
    background-position: -53px -76px;
  }
  &.button-large {
    height: 40px;
    line-height: 40px;
    max-height: 40px;
    span {
      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: @gray;
        width: 6px;
        height: 100%;
      }
      &:before {
        left: 0;
        top: 6px;
      }
      &:after {
        right: 0;
        bottom: 6px;
      }
    }
  }
  &.purple {
    span {
      background-color: @purple;
      &:before {
        background-color: @purple;
      }
      &:after {
        background-color: @purple;
      }
    }
    &:before {
      background-position: -3px -76px;
    }
    &:after {
      background-position: -10px -76px;
    }
  }
  &.red {
    span {
      background-color: @red;
      &:before {
        background-color: @red;
      }
      &:after {
        background-color: @red;
      }
    }
    &:before {
      background-position: -17px -76px;
    }
    &:after {
      background-position: -24px -76px;
    }
  }
  &.green {
    span {
      background-color: @green;
      &:before {
        background-color: @green;
      }
      &:after {
        background-color: @green;
      }
    }
    &:before {
      background-position: -31px -76px;
    }
    &:after {
      background-position: -38px -76px;
    }
  }
}

.top-movie {
  .button-corner-cut {
    span {
      background-color: @purple;
    }
    &:before {
      background-position: -3px -76px;
    }
    &:after {
      background-position: -10px -76px;
    }
  }
}

.hgw-deal {
  .button-corner-cut {
    span {
      background-color: @red;
    }
    &:before {
      background-position: -17px -76px;
    }
    &:after {
      background-position: -24px -76px;
    }
  }
}

.event-highlight {
  .button-corner-cut {
    span {
      background-color: @green;
    }
    &:before {
      background-position: -31px -76px;
    }
    &:after {
      background-position: -38px -76px;
    }
  }
}

.image-corner-cut,
.align-focus {
  position: relative;
  display: block;
  &:before,
  &:after {
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }
  &:before {
    content: " ";
    width: 0px;
    height: 0px;
    border-left-color: @white;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:after {
    content: " ";
    width: 0px;
    height: 0px;
    border-bottom-color: @white;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
	.button-corner-cut{font-size: 10px;}
}