.dropdown {
  position: relative;
  text-align: left;
  &.dropdown-no-icon .dropdown-head {
    padding-left: 10px;
  }
  .value {
    font-size: 14px;
    font-weight: normal;
    line-height: 39px
  }
  .input-field {
    background-color: transparent;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }
  i.icon {
    position: absolute;
    right: 15px;
    top: 17px;
    &.icon-calendar {
      top: 12px;
      right: 15px;
    }
  }
  .icon-pin,
  .icon-hour,
  .icon-people,
  .icon-cuisine {
    right: auto;
    left: 15px;
    top: 15px;
  }
  &.no-dropdown {
    .dropdown-head {
      //.border-radius(3px)!important;
      border-bottom: 1px solid @grayLight!important;
    }
  }
}

.dropdown-head {
  //.border-radius(3px);
  border: 1px solid @grayLight;
  background-color: #fff;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  &.dropdown-head-icon {
    padding-right: 48px;
    .icon-arrow {
      background-position: -391px -322px;
      height: 48px;
      width: 48px;
      right: 1px;
      top: 1px;
    }
  }
}

.open {
  .dropdown-head {
    .border-bottom-radius(0);
  }
  .dropdown-head-icon .icon-arrow {
    background-position: -440px -322px!important;
  }
  .dropdown-container {
    display: block!important;
    .opacity(100)!important;
  }
  //.value{line-height:50px;padding-left: 1px;}
  //.input-field{margin-top:1px;margin-left:1px;}
  .icon-arrow {
    background-position: -389px -22px!important;
  }
  .icon-pin,
  .icon-hour,
  .icon-people,
  .icon-cuisine {
    right: auto;
  }
}

.dropdown-container {
  background-color: #fff;
  border: 1px solid @grayLight;
  border-top-width: 0;
  //.border-bottom-radius(3px);
  cursor: default;
  display: none;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -1px;
  z-index: 5;
  .opacity(0);
  width: 100%;
  .dropdown-container-inner {
    border-top: 1px solid #e3e3e3;
  }
  ul {
    .reset-list();
  }
  li {
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
    padding: 10px 15px;
    position: relative;
    .label-right {
      position: absolute;
      right: 10px;
      top: 15px;
      font-size: 14px;
      font-style: italic;
    }
    &.group-label {
      font-family: @fontFamilyOpenSansBold;
      text-transform: uppercase;
      cursor: default;
    }
  }
  li.selected {
    background-color: #ebebeb;
    font-family: @fontFamilyOpenSansSemibold;
  }
}

.dropdown-datepicker {
  .datepicker {
    position: absolute;
    visibility: hidden;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.dropdown-checklist {
  .dropdown-container {
    .dropdown-caption {
      background-color: #444;
      height: 40px;
      line-height: 40px;
      color: @white;
      padding-left: 20px;
    }
    .list {
      padding: 20px;
      padding-bottom: 0;
      .item {
        padding-bottom: 23px;
      }
    }
  }
}

.dropdown-chosen {
  .chosen-container {
    width: 100%!important;
    background-color: #fff;
  }
  .chosen-default,
  .chosen-single {
    font-size: 14px;
    font-weight: normal;
    line-height: 39px;
    height: 40px;
    border: 1px solid @grayLight;
  }
  .chosen-drop {
    border: 1px solid @grayLight;
  }
  .chosen-results {
    margin: 0;
    padding: 0;
    max-height: 240px;
    li {
      cursor: pointer;
      padding: 10px 15px;
      position: relative;
      font-size: 14px;
    }
  }
}

.input-text-search {
  .input-search {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .dropdown {
    .value {
      font-size: 12px;
    }
  }
}
