@font-face {
  font-family: 'RobotoSlabLight';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/RobotoSlab-Light.eot');
   // IE9 Compat Modes 
  src: url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/RobotoSlab-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/RobotoSlab-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/RobotoSlab-Light.svg#RobotoSlabLight') format('svg');
   // Legacy iOS 
}

@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RobotoSlab-Regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/RobotoSlab-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/RobotoSlab-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/RobotoSlab-Regular.svg#RobotoSlab') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSansLight';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Light.svg#OpenSansLight') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSansSemibold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSansBold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Bold.svg#OpenSansBold') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSansExtrabold';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans-ExtraBold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  /* Legacy iOS */
}
