#page-footer {
  &:extend(.clearfix all);
  max-width: 950px;
  margin: 0 auto;
  padding-top: 70px;
  font-size: 13px;
  .fbg {
    text-align: center;
    border-bottom: 1px solid @whiteDark;
  }
  .channels {
    .links {
      border-bottom: 1px solid @whiteLight;
      line-height: 24px;
      overflow: hidden;
      padding: 29px 0 32px;
      .item {
        float: left;
        padding-right: 10px;
        width: 182px;
        h5 {
          font-family: @fontFamilyOpenSansBold;
          font-size: 15px;
          margin: 0;
          padding-bottom: 15px;
        }
        ul.social-share {
          li {
            float: left;
            padding-left: 20px;
            &:first-child {
              padding-left: 0;
            }
          }
        }
        &.overview {
          padding-right: 30px;
          width: 324px;
          .desc-site {
            font-size: 100%;
            font-weight: 400;
            margin: 0;
            padding: 0;
          }
        }
        &.following {
          padding-right: 0;
          width: 192px;
        }
      }
    }
  }
  .site-info {
    overflow: hidden;
    padding: 16px 0 18px;
    font-size: 12px;
    .copyright {
      float: left;
      margin: 0;
    }
    ul {
      float: right;
      li {
        display: inline-block;
        border-left: solid 1px #CCC;
        margin-left: 5px;
        padding-left: 6px;
        &:first-child {
          border-left: none;
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  #page-footer {
    padding-left: 10px;
    padding-right: 10px;
    .channels .links .item.following{
    	padding-top: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  #page-footer {
    padding-top: 0;
    border-bottom: solid 2px #e60d2e;
    .channels {}
    .site-info {
      text-align: center;
      padding: 15px 10px;
      .copyright {
        width: 100%;
        margin-bottom: 10px;
        span {
          display: block;
        }
      }
      .policy {
        float: none;
        overflow: hidden;
        clear: both;
        max-height: 17px;
      }
    }
  }
}
