.form-horizontal {
  @labelWidth: 210px;
  padding-top: 20px;
  .form-group {
    margin-bottom: 10px;
    &.border-bottom {
      border-bottom: solid 1px @whiteDark;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &.border-top {
      border-top: solid 1px @whiteDark;
      padding-top: 20px;
      margin-bottom: 20px;
    }
    &.border-both {
      border-top: solid 1px @whiteDark;
      border-bottom: solid 1px @whiteDark;
      padding-top: 10px;
      margin-bottom: 10px;
    }
  }
  .checkbox,
  .radio {
    padding-top: 7px;
  }
  .form-control {
    width: 100%;
    padding: 5px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
  }
  .control-group {
    &:extend(.clearfix all);
    position: relative;
    margin-bottom: 18px;
  }
  .header {
    .header-title {
      font-family: @fontFamilyRobotoSlab;
      font-size: 32px;
      margin: 0;
    }
    .note {
      position: absolute;
      left: 227px;
      bottom: 3px;
    }
  }
  .control-label {
    position: absolute;
    text-align: right;
    width: @labelWidth;
    display: inline-block;
    line-height: 16px;
    padding-top: 6px;
    color: @graySemiLight;
    font-size: 16px;
    small {
      font-size: 14px;
      color: #999;
      display: block;
      padding-top: 2px;
    }
  }
  .controls {
    margin-left: @labelWidth + 5;
    textarea {
      height: 142px;
    }
  }
  .legend {
    overflow: hidden;
    margin-bottom: 15px;
    .title {
      font-size: 14px;
      font-family: @fontFamilyOpenSansSemibold;
      color: #222;
      text-transform: uppercase;
      margin: 0;
      float: left;
    }
    .note {
      font-size: 12px;
      font-family: @fontFamilyOpenSans;
      color: @gray;
      float: right;
    }
  }
  .datepicker-control {
    position: relative;
    display: block;
    input {
      width: 100%;
    }
    .icon {
      position: absolute;
      top: 7px;
      right: 9px;
    }
  }
  em {
    color: @red;
    font-style: normal;
  }
  .error {
    &:extend(.clearfix all);
    color: @red;
    overflow: hidden;
  }
}

.list-control {
  .list {
    .reset-list();
    &:extend(.clearfix all);
    .title {}
  }
  li {
    display: block;
    margin-bottom: 5px;
    .list {
      margin-top: 5px;
    }
  }
  .two-column {
    > li {
      width: 49%;
      float: left;
      margin-left: 1%;
    }
  }
  .three-column {
    > li {
      width: 32%;
      float: left;
    }
  }
}

.form-upload {
  padding: 10px;
  background-color: @whiteLight;
  text-align: center;
  border: solid 1px #A3A8A2;
  font-size: 12px;
  .file-input {
    position: absolute;
    left: -9999px;
  }
}

.rating-vote {
  .review-count {
    padding-top: 5px;
  }
  .link-first-to-review{
  	text-transform: uppercase;
  	color: @purple;
  	font-size: 12px;
  	font-family: @fontFamilyOpenSansBold;
  	display: block;
  }
}

.rating-control {
  &:extend(.clearfix all);
  overflow: hidden;
  width: 95px;
  height: 15px;
  background: url(@iconSpritePath) no-repeat -130px -90px;
  display: inline-block;
  @star_width: 19px;
  &.enabled {
    background: none;
  }
  .icon {
    float: left;
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
  .stars {
    width: 95px;
    height: 15px;
    background: url(@iconSpritePath) no-repeat -130px -75px;
    display: block;
  }
  .five_star {
    width: @star_width * 5;
  }
  .four_and_half_star {
    width: 88px;
  }
  .four_star {
    width: @star_width * 4;
  }
  .three_and_half_star {
    width: 68px;
  }
  .three_star {
    width: @star_width * 3;
  }
  .two_and_half_star {
    width: 48px;
  }
  .two_star {
    width: @star_width * 2;
  }
  .one_and_half_star {
    width: 28px;
  }
  .one_star {
    width: @star_width;
  }
  .half_star {
    width: 8px;
  }
}

.rating-control-small {
  &:extend(.clearfix all);
  overflow: hidden;
  width: 87px;
  height: 12px;
  background: url(@iconSpritePath) no-repeat -130px -121px;
  display: inline-block;
  &.enabled {
    background: none;
  }
  @star_width: 19px;
  .icon {
    float: left;
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
  .stars {
    width: 87px;
    height: 15px;
    background: url(@iconSpritePath) no-repeat -130px -109px;
    display: block;
  }
  .five_star {
    width: @star_width * 5;
  }
  .four_and_half_star {
    width: 88px;
  }
  .four_star {
    width: @star_width * 4;
  }
  .three_and_half_star {
    width: 68px;
  }
  .three_star {
    width: @star_width * 3;
  }
  .two_and_half_star {
    width: 48px;
  }
  .two_star {
    width: @star_width * 2;
  }
  .one_and_half_star {
    width: 28px;
  }
  .one_star {
    width: @star_width;
  }
  .half_star {
    width: 8px;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .form-horizontal {
    .header {
      .header-title {
        font-size: 24px;
        line-height: 28px;
      }
    }
    .legend {
      .title {
        font-size: 12px;
        line-height: 14px;
      }
      .note {
        float: left;
      }
    }
  }
}
