#page-header {
  &:extend(.clearfix all);
  max-width: 970px;
  margin: 0 auto;
  border-top: solid 3px @redLight;
  position: relative;
  min-height: 64px;
  //margin-bottom: 42px;
  &.nav_sub_show {}
  .header {
    position: absolute;
    .logo {
      margin-left: 8px;
      margin-top: 13px;
      display: block;
    }
  }
  .header-mobile {
    height: 54px;
    border-bottom: solid 1px @whiteLight;
    .logo-mobile {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 85px;
      height: 28px;
    }
    .nav-mobile {
      background-color: @redLight;
      border: none;
      margin: 0;
      width: 53px;
      height: 53px;
      line-height: 60px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      .icon-menu-close {
        margin-top: -4px;
      }
    }
    .input-search-group {
      padding: 15px;
      .icon {
        position: absolute;
      }
      .input-search-text {
        border: none;
        font-size: 18px;
        width: 100%;
        padding-left: 30px;
        padding-right: 45px;
      }
      .title-wrap {
        padding-left: 25px;
        padding-top: 4px;
      }
    }
    .link-search-mobile {
      position: absolute;
      right: 70px;
      top: 20px;
    }
  }
  .search-nav {
    position: absolute;
    right: 170px;
    top: 20px;
  }
  .navbar {
    border-bottom: solid 1px @whiteLight;
    margin-bottom: 30px;
    overflow: hidden;
    .navbar-nav {
      float: right;
      margin-right: 430px;
      li {
        float: left;
        margin-left: 20px;
        a {
          font-family: @fontFamilyOpenSansBold;
          font-size: 12px;
          display: block;
          padding: 22px 0 18px;
          border-bottom: solid 3px transparent;
        }
        .navbar-sub {
          //border-bottom: solid 1px @whiteLight;
          position: absolute;
          //width: 100%;
          //left: 0;
          text-align: center;
          display: none;
          li {
            display: inline-block;
            float: none;
            a {
              font-family: @fontFamilyOpenSansSemibold;
              text-transform: uppercase;
              padding: 16px 0 12px;
              border-bottom: none;
            }
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &.nav-movies {
          &.hover,
          &.selected {
            > a {
              color: @purple;
              border-bottom-color: @purple;
            }
          }
          .navbar-sub {
            li:hover,
            li.selected {
              a {
                color: @purple;
              }
            }
          }
        }
        &.nav-events {
          &.hover,
          &.selected {
            > a {
              color: @green;
              border-bottom-color: @green;
            }
          }
          .navbar-sub {
            li:hover,
            li.selected {
              a {
                color: @green;
              }
            }
          }
        }
        &.nav-hgw {
          &.hover,
          &.selected {
            > a {
              color: @red;
              border-bottom-color: @red;
            }
          }
          .navbar-sub {
            li:hover,
            li.selected {
              a {
                color: @red;
              }
            }
          }
        }
        &.nav-bss {
          &.hover,
          &.selected {
            > a {
              color: #00B4FF;
              border-bottom-color: #00B4FF;
            }
          }
          .navbar-sub {
            li:hover,
            li.selected {
              a {
                color: #00B4FF;
              }
            }
          }
        }
        &.selected {
          .navbar-sub {
            display: block !important;
          }
        }
      }
    }
    .social-share {
      padding-top: 20px;
      overflow: hidden;
      height: 40px;
      position: absolute;
      right: 183px;
      &:before,
      &:after {
        content: "";
        width: 1px;
        height: 25px;
        background-color: #ccc;
        display: block;
        margin-right: 20px;
        margin-left: 20px;
      }
      &:before {
        float: left;
      }
      &:after {
        float: right;
      }
      li {
        float: left;
        margin-left: 15px;
        overflow: hidden;
        a {
          margin-top: 22px;
          display: inline-block;
        }
        &:first-child {
          margin-left: 0;
        }
      }
      .fb {
        width: 47px;
        height: 24px;
        overflow: hidden;
      }
      .tw {
        width: 56px;
        height: 24px;
      }
      .gl {
        width: 32px;
        height: 24px;
      }
    }
  }
  .login-panel {
    position: absolute;
    right: 0;
    top: 0;
    a {
      font-family: @fontFamilyOpenSansBold;
      font-size: 12px;
      display: block;
      background-color: @redLight;
      color: @white;
      height: 60px;
      width: 155px;
      text-align: center;
      line-height: 60px;
      &.account-info {
        text-align: left;
        position: relative;
        line-height: normal;
        img {
          margin-left: 7px;
          width: 30px;
          height: 30px;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -15px;
        }
        .box {
          display: table;
          text-transform: uppercase;
          height: 100%;
          .cell {
            display: table-cell;
            vertical-align: middle;
            padding-left: 44px;
            .name {
              padding-top: 2px;
              max-height: 20px;
              overflow: hidden;
              display: block;
              width: 107px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .search-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: @white;
      opacity: 0.98;
    }
    .search-overlay-close {
      position: absolute;
      top: 20px;
      right: 0;
      .icon {
        color: transparent;
      }
    }
    .container {
      position: relative;
    }
    .search-panel {
      width: 470px;
      position: absolute;
      margin-left: -235px;
      top: 135px;
      left: 50%;
      .search-header {
        position: relative;
        border-bottom: solid 1px #ccc;
        padding-bottom: 15px;
        height: 53px;
        .title-wrap {
          padding: 13px 15px 8px 80px;
          text-transform: uppercase;
        }
        &:before {
          content: "";
          border-left: solid 1px #CCC;
          position: absolute;
          height: 40px;
          left: 65px;
        }
        .icon {
          position: absolute;
          top: 8px;
          left: 20px;
        }
        .input-search {
          width: 100%;
          font-size: 18px;
          padding: 8px 15px 8px 80px;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .search-body {
        padding: 20px;
        background: #fff url(../images/bg-dotted.png);
        .title-wrap {
          padding-top: 10px;
          padding-bottom: 15px;
        }
        .dropdown {
          margin-bottom: 10px;
        }
        .action {
          text-align: center;
          padding-top: 20px;
        }
        .activity-search {}
        .hgw-search {
          display: none;
        }
        .event-search {
          display: none;
        }
        .movie-search {
          display: none;
        }
      }
      .autoComplete-search {
        background-color: @white;
        padding: 25px 20px;
        border-bottom: solid 2px @red;
        position: absolute;
        width: 100%;
        z-index: 1;
        max-height: 500px;
        overflow: auto;
        display: none;
        .list {
          position: static !important;
          width: 100% !important;
          li {
            font-size: 18px;
            color: #777;
            padding-bottom: 10px;
            outline: none;
            cursor: pointer;
            b {
              font-weight: normal;
              font-family: @fontFamilyOpenSansBold;
            }
            &.category {
              font-family: @fontFamilyOpenSansBold;
              font-size: 14px;
              color: @gray;
              text-transform: uppercase;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

.desktop-mobile {
  #page-header .navbar .navbar-nav li.hover > a,
  #page-header .navbar .navbar-nav li.selected > a {
    border-bottom-color: transparent;
  }
}

.respon-sticky {
  padding-top: 70px;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: @white;
}

.noScroll {
  overflow: hidden;
  position: fixed;
}

.page-movie #page-header {
  margin-bottom: 42px;
  .navbar .navbar-nav li.nav-movies:after {
    content: "";
    border-bottom: solid 1px @whiteLight;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    height: 45px;
    z-index: -1;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  #page-header {
    .navbar {
      .navbar-nav {
        margin-right: 290px;
        li {
          margin-left: 7px;
        }
      }
      .social-share {
        li {
          margin-left: 5px;
          overflow: hidden;
          &.fb {
            width: 20px;
          }
          &.tw {
            width: 20px;
          }
          &.gl {
            width: 20px;
          }
        }
        &:before,
        &:after {
          margin-right: 10px;
          margin-left: 10px;
        }
      }
    }
    .search-nav {
      right: 166px;
    }
  }
  #page-header .navbar .social-share {
    overflow: visible;
    li .fb {
      width: 47px;
      overflow: visible;
      iframe {
        position: relative;
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #page-header {
    .navbar {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      border-bottom: none;
      margin-bottom: 0;
      overflow-y: auto;
      > ul:after {
        display: none;
      }
      .navbar-nav {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 0;
        float: none;
        overflow: hidden;
        li {
          margin-left: 0;
          width: 100%;
          border-bottom: none !important;
          a {
            font-family: @fontFamilyOpenSansExtrabold;
            font-size: 22px;
            padding: 6px 0;
            border-bottom: none !important;
          }
          &.nav-movies:hover,
          &.nav-movies.active {
            border-bottom-color: transparent !important;
          }
          &.nav-movies:after {
            content: none;
          }
          .navbar-sub {
            display: block;
            position: static;
            border-bottom: none;
            li {
              margin-left: 0;
              a {
                font-family: @fontFamilyOpenSans;
                font-size: 14px;
                padding: 4px 0;
              }
            }
          }
        }
      }
      .social-share {
        text-align: center;
        width: 100%;
        float: none;
        width: 100%;
        border-top: 1px solid @whiteLight;
        height: 45px;
        line-height: 35px;
        padding-top: 12px;
        position: static;
        &:before,
        &:after {
          content: none;
        }
        li {
          float: none;
          display: inline-block;
          line-height: 0;
          a {
            margin-top: 0;
          }
        }
      }
    }
    .login-panel {
      width: 100%;
      position: relative;
      a {
        width: 100%;
        font-size: 14px;
        height: 60px;
        line-height: 60px;
        &.account-info {
          .box {
            margin: 0 auto;
            img {
              position: static;
              margin-top: 15px;
            }
            .cell {
              padding-left: 8px;
              .name {
                display: inline-block;
                padding-left: 5px;
                padding-top: 0;
                width: auto;
                max-width: 200px;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
    .search-container {
      top: 57px;
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: @gray;
        opacity: 0.98;
      }
      .search-overlay-close {
        position: absolute;
        top: auto;
        right: 50%;
        bottom: 65px;
        margin-right: 10px;
        .icon {
          padding-left: 20px;
          font-family: @fontFamilyOpenSansBold;
          font-size: 12px;
          font-style: normal;
          color: @white;
        }
      }
      .container {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
      }
      .search-panel {
        width: 100%;
        margin-left: 0;
        left: 0;
        top: 0;
        .search-header {
          display: none;
        }
        .search-body {
          .title-wrap {}
          .dropdown {}
          .action {}
        }
        .autoComplete-search {
          .list {
            li {
              b {}
              &.category {}
            }
          }
        }
      }
    }
  }
}
