// text
.text-purple {
  color: @purple;
}

.text-red {
  color: @red;
}

.text-green {
  color: @green;
}

// icon expand
.icon-expand {
  width: 8px;
  height: 7px;
}

.top-movie .icon-expand,
.icon-expand.icon-purple {
  background-position: -381px -9px;
}

.hgw-deal .icon-expand,
.icon-expand.icon-red {
  background-position: -381px -16px;
}

.event-highlight .icon-expand,
.icon-expand.icon-green {
  background-position: -381px -2px;
}
// icon collapse
.icon-collapse {
  width: 8px;
  height: 7px;
}

.top-movie .icon-collapse,
.icon-collapse.icon-purple {
  background-position: -391px -9px;
}

.hgw-deal .icon-collapse,
.icon-collapse.icon-red {
  background-position: -391px -16px;
}

.event-highlight .icon-collapse,
.icon-collapse.icon-green {
  background-position: -391px -2px;
}

// checkbox
label.iCheckbox,
label.iRadio {
  position: relative;
  margin: 0;
  font-size: @fontSize;
  display: inline-block;
  padding-left: 25px;
  input {
    position: absolute;
    left: -9999px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    display: inline-block;
    background: url(@iconSpritePath) no-repeat;
  }
}

label.iCheckbox {
  &:before {
    background-position: -537px -25px;
  }
}

label.iCheckbox.checked:before {
  background-position: -555px -25px;
}

.checklist-purple label.iCheckbox.checked:before,
label.iCheckbox.purple.checked:before {
  background-position: -573px -25px;
}

.checklist-red label.iCheckbox.checked:before,
label.iCheckbox.red.checked:before {
  background-position: -591px -25px;
}

.checklist-green label.iCheckbox.checked:before,
label.iCheckbox.green.checked:before {
  background-position: -609px -25px;
}
// radio
label.iRadio {
  &:before {
    background-position: -537px -44px;
  }
}

label.iRadio.checked:before {
  background-position: -555px -44px;
}

.checklist-purple label.iRadio.checked:before,
label.iRadio.purple.checked:before {
  background-position: -573px -44px;
}

.checklist-red label.iRadio.checked:before,
label.iRadio.red.checked:before {
  background-position: -591px -44px;
}

.checklist-green label.iRadio.checked:before,
label.iRadio.green.checked:before {
  background-position: -609px -44px;
}

//loader
.ajax-loader {
  margin: 30px auto;
  overflow: hidden;
  text-indent: -9999em;
  border: 2px solid #e5e5e5;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  &.red {
    border-left-color: @red;
  }
  &.green {
    border-left-color: @green;
  }
  &.purple {
    border-left-color: @purple;
  }
  &:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
.top-movie .ajax-loader {
  border-left-color: @purple;
}

.hgw-deal .ajax-loader {
  border-left-color: @red;
}

.event-highlight .ajax-loader {
  border-left-color: @green;
}