#layout {
  max-width: 1120px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

#page-container {
  &:extend(.clearfix all);
}

.container {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mpu-ads {
  text-align: center;
  img, object, iframe {
    margin-bottom: 30px;
  }
}

.leader-board {
  height: 90px;
  margin-bottom: 30px;
  text-align: center;
}

.mpu-portrait,
.mpu-mobile {
  display: none;
}

.wallpaper-ads {
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.wrapper-middle {
  max-width: 970px;
  margin: 0 auto;
  position: relative;
  &:extend(.clearfix all);
  .middle-left {
    float: left;
    width: 100%;
    .left-main {
      margin-left: 10px;
      margin-right: 330px;
    }
  }
  .middle-right {
    float: left;
    margin-left: -316px;
    width: 306px;
  }
}

.breadcrumbs {
  margin-bottom: 5px;
  span {
    font-size: 12px;
    &:before {
      content: ">";
      padding-left: 4px;
      padding-right: 4px;
    }
    &:first-child {
      &:before {
        content: "";
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.boilerplate-caption {
  position: relative;
  border-bottom: solid 1px @whiteDark;
  padding-bottom: 15px;
  min-height: 34px;
  .icon-cicle-dotted {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -70px;
  }
  .title-wrap {
    text-transform: uppercase;
    padding-right: 100px;
    padding-top: 15px;
    position: relative;
  }
  .social-list {
    position: absolute;
    right: 0;
    top: 15px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// toTop
#toTop {
  position: fixed;
  bottom: 20%;
  right: 0;
  .border-bottom-radius(4px);
  #gradient .vertical(#fff, #efeeee);
  .box-shadow(-2px 4px 5px #e2e2e1);
  color: #494949;
  display: none;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  line-height: 1.3;
  padding: 16px 15px 16px 20px;
  width: 100px;
  z-index: 2147483648;
}

@media screen and (max-width: 1120px) {
  .wallpaper-ads {
    display: none;
  }
}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mpu-landscape,
  .mpu-mobile {
    display: none;
  }
  .mpu-portrait {
    display: block;
  }
  .wrapper-middle {
    .middle-left {
      .left-main {
        margin-left: 0;
      }
    }
    .middle-right {}
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .leader-board,
  .mpu-ads {
    text-align: center;
    img, object, iframe {
      margin-bottom: 15px;
    }
  }
  .mpu-landscape,
  .mpu-portrait {
    display: none;
  }
  .mpu-mobile {
    display: block;
  }
  .wrapper-middle {
    max-width: 100%;
    .middle-left {
      float: none;
      width: 100%;
      .left-main {
        margin-left: 0;
        margin-right: 0;
      }
    }
    .middle-right {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }
  .page-movie,
  .page-event {
    .container {
      margin-bottom: 30px;
    }
  }
  .breadcrumbs {
    margin-bottom: 15px!important;
  }
}
