.module-find-activity {
  .inner {
    padding: 25px 20px;
    background: url(../images/bg-dotted.png);
  }
  .title-wrap {
    padding-bottom: 15px;
    text-transform: uppercase;
  }
  .panel {
    padding-bottom: 10px;
    .dropdown {
      margin-bottom: 10px;
    }
  }
  .action {
    text-align: center;
    .link {}
  }
  .dropdown-checklist {
    .dropdown-container {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {}
