.module-carousel {
  position: relative;
  .caption {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 1;
    font-family: @fontFamilyOpenSansExtrabold;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    p {
      margin: 0;
      span {
        background-color: #fff;
        margin-bottom: 10px;
        padding: 8px;
        display: inline-block;
      }
    }
  }
  .owl-controls {
    position: absolute;
    left: 0;
    top: 215px;
    background-color: @white;
    text-align: left;
    width: 76px;
    height: 55px;
    .owl-buttons {
      margin-top: 16px;
      &:after {
        content: "";
        background: url(@iconSpritePath) no-repeat -292px -2px;
        width: 1px;
        height: 25px;
        position: absolute;
        left: 27px;
        top: 15px;
      }
      .owl-prev,
      .owl-next {
        width: 15px;
        height: 21px;
        background: url(@iconSpritePath) no-repeat 0 0;
        color: transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        filter: alpha(opacity=100);
        opacity: 1;
        margin: 0;
        padding: 0;
      }
      .owl-prev {
        background-position: -277px -2px;
      }
      .owl-next {
        background-position: -295px -2px;
        margin-left: 28px;
      }
    }
  }
  .owl-carousel {
    border-bottom: solid 1px #F1F1F1;
    .item {
      .item-image {
        display: block;
        position: relative;
        height: 328px;
        overflow: hidden;
        &:after {
          content: "";
          background: url(../images/bg-dotted.png);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .item-info {
        padding: 13px 10px;
        clear: both;
        overflow: hidden;
        text-transform: uppercase;
        .item-desc {
          float: left;
          font-size: 13px;
        }
        .item-link {
          float: right;
          a {
            padding: 0 15px;
            font-family: @fontFamilyOpenSansSemibold;
            border-left: solid 1px #ccc;
            &:first-child {
              padding-left: 0;
              border-left: 0;
            }
          }
          .item-showTimes {
            padding-right: 0;
          }
        }
      }
      &.top-movie {
        .item-info {
          .item-link,
          .item-link a {
            color: @purple;
            border-left-color: @purple;
          }
        }
      }
      &.hgw-deal {
        .item-info {
          .item-link,
          .item-link a {
            color: @red;
            border-left-color: @red;
          }
        }
      }
      &.event-highlight {
        .item-info {
          .item-link,
          .item-link a {
            color: @green;
            border-left-color: @green;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-carousel {
    .owl-carousel {
      .item {
        .item-image {
          height: 265px;
        }
      }
    }
    .caption {
      font-size: 24px;
    }
    .owl-controls {
      top: 186px;
      .owl-buttons {
        padding-left: 8px;
        &:after {
          left: 35px;
        }
      }
    }
    &.container {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .module-carousel {
    .caption {
      font-size: 24px;
      position: static;
      padding-right: 80px;
      padding-left: 15px;
      height: auto;
      min-height: 66px;
      overflow: hidden;
      p {
        display: inline-block;
        padding-right: 6px;
        &:last-child {
          padding-right: 0;
        }
        span {
          padding: 0;
          margin: 0;
        }
      }
    }
    .owl-controls {
      top: -2px;
      left: auto;
      right: 0;
    }
    .owl-carousel {
      .item {
        .item-image {
          height: auto;
        }
        .item-info {
          padding-left: 15px;
          padding-right: 15px;
          .item-desc {
            font-size: 12px;
            margin-bottom: 10px;
            float: none;
          }
          .item-link {
            float: none;
            font-size: 12px;
          }
        }
      }
      .owl-controls .owl-buttons {
        height: 55px;
        margin-top: 0;
        .owl-prev,
        .owl-next {
          background: url(@iconSpritePath) no-repeat 0 0;
          height: 55px;
        }
        .owl-prev {
          background-position: -445px -102px;
          width: 31px;
        }
        .owl-next {
          background-position: -477px -102px;
          margin-left: 0;
          width: 45px;
        }
        &:after {
          left: 29px;
          display: none;
        }
      }
    }
    &.container {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
