.middle-left {
  .module-grid-event {
    position: relative;
    .header {
      position: relative;
      padding-top: 10px;
      padding-bottom: 25px;
      .title {
        text-transform: uppercase;
      }
      .link {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .item-list {
      margin-right: -2%;
      border-bottom: solid 1px @borderColor;
      .item {
        float: left;
        width: 49%;
        height: 355px;
        margin-right: 1%;
        margin-bottom: 30px;
        .align-focus {
          position: relative;
          text-align: center;
          max-width: 306px;
          height: 230px;
          line-height: 230px - 4;
          text-align: center;
          overflow: hidden;
          background: url(../images/bg-dotted.png);
        }
        .entry {
          .title-wrap {
            margin: 0;
            margin-top: 15px;
            &.pure-ellipsis{
            	overflow: hidden;
            }
          }
          .date {
            font-size: 14px;
            margin-top: 7px;
          }
        }
        .link {
          font-size: 12px;
          font-family: @fontFamilyOpenSansBold;
          color: @green;
          text-transform: uppercase;
          display: inline-block;
          padding-top: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
	.middle-left {
    .module-grid-event {
      .item-list {
        .item {
        	height: 275px;
        	margin-bottom: 15px;
          .align-focus {
            height: 154px;
            line-height: 154px - 4;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .middle-left {
    .module-grid-event {
      .item-list {
        margin-right: 0;
        .item {
          float: none;
          width: 100%;
          margin-right: 0;
          height: auto;
          margin-bottom: 20px;
          .align-focus {
            height: auto;
            line-height: normal;
            max-width: 100%;
            background: none;
          }
        }
      }
    }
  }
}
