.module-movie-carousel {
  background-color: #111111;
  padding: 30px 0;
  overflow: hidden;
  position: relative;
  height: 400px;
  .caption {
    position: absolute;
    left: 0;
    top: 108px;
    z-index: 3;
    font-family: @fontFamilyOpenSansExtrabold;
    font-size: 38px;
    margin-bottom: 10px;
    text-transform: uppercase;
    p {
      margin: 0;
      span {
        background-color: #fff;
        margin-bottom: 10px;
        padding: 2px 10px;
        display: inline-block;
      }
    }
  }
  .movie-slideshow {
    height: 400px;
    margin-left: -40px;
    .item {
      width: 182px;
      height: 370px;
      margin-right: 30px;
      .thumbnail {
        position: relative;
        height: 273px;
        line-height: 273px - 4;
        overflow: hidden;
        a {
          &:after {
            content: "";
            background: url(../images/bg-dotted.png);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
        img {
          max-height: 100%;
        }
      }
      &:first-child {}
      .entry {
        white-space: normal;
        overflow: hidden;
        height: 97px;
        .title {
          font-size: 16px;
          line-height: 16px + 5;
          margin-top: 8px;
          margin-bottom: 8px;
          color: @white;
          a {
            color: @white;
          }
        }
      }
    }
  }
  .carousel-controls {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 240px;
    background-color: @white;
    height: 55px;
    width: 75px;
    .carousel-prev,
    .carousel-next {
      width: 30px;
      height: 21px;
      display: inline-block;
      background: url(@iconSpritePath) no-repeat 0 0;
      color: transparent;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      filter: alpha(opacity=100);
      opacity: 1;
      margin: 0;
      padding: 0;
      margin-top: 17px;
    }
    .carousel-prev {
      background-position: -445px -119px;
    }
    .carousel-next {
      background-position: -475px -119px;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-movie-carousel {
    .movie-slideshow {
      .item {
        width: 150px;
        .thumbnail {
          height: 225px;
          line-height: 225px - 4;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-movie-carousel {
    background-color: #fff;
    height: 485px;
    .caption {
      position: relative;
      top: 0;
      left: 0;
      font-size: 24px;
      p {
        display: inline-block;
      }
      float: left;
      height: 55px;
      line-height: 55px;
      margin-bottom: 0;
    }
    .carousel-controls {
      position: static;
      float: right;
    }
    .movie-slideshow {
    	padding-top: 25px;
      background-color: #000;
      margin-left: 0;
      padding-left: 74px;
      .item {
        width: 172px;
        margin-right: 25px;
        .thumbnail {}
      }
    }
  }
}
