.module-marketing {
  .marketing-portrait,
  .marketing-mobile {
    display: none;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-marketing {
    .marketing-portrait{
    	display: block;
    }
    .marketing-mobile,.marketing-landscape {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .module-marketing {
    .marketing-portrait,.marketing-landscape{
    	display: none;
    }
    .marketing-mobile {
      display: block;
    }
  }
}
