.module-movie-list {
  .head-wrap {
    border-bottom: 1px solid @borderColor;
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    height: 40px;
    .title-wrap {
      text-transform: uppercase;
      padding-right: 145px;
      position: absolute;
      top: 41%;
      .translate(0, -50%);
      overflow: hidden;
    }
    .button-corner-cut {
      float: right;
    }
  }
  .movie-list {
    border-bottom: 1px solid @borderColor;
    padding-bottom: 15px;
    .item {
      border-top: 1px dotted #7f7f7f;
      font-size: 14px;
      overflow: hidden;
      margin-top: 20px;
      padding-top: 16px;
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
    }
    .align-focus {
      background: url(../images/bg-dotted.png);
      position: relative;
      text-align: center;
      height: 166px;
      line-height: 166px - 4;
      overflow: hidden;
      &:after {
        bottom: -1px;
      }
    }
    .photo {
      float: left;
      margin-right: 18px;
      width: 27%;
      .button-corner-cut {
        display: block;
        margin-top: 10px;
      }
    }
    .entry {
      overflow: hidden;
      .button-corner-cut {
        display: none;
        margin-top: 10px;
      }
      .info {
        font-size: 12px;
        color: #666;
      }
    }
    .rs-regular-s {
      margin-bottom: 7px;
      overflow: hidden;
    }
    .type {
      color: @green;
      a {
        color: @green;
      }
    }
    .desc {
      margin-top: 7px;
      overflow: hidden;
      p {
        margin: 0;
        padding: 0;
      }
    }
    &.latest .photo {
      width: 35%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-movie-list {
    .movie-list {
      .button-corner-cut span {
        padding: 0;
      }
      .align-focus {
        height: 110px;
        line-height: 110px - 4;
      }
    }
    .movie-list-wrap {
      .align-focus {
        height: 71px;
        line-height: 71px - 4;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-movie-list {
    .head-wrap {
      margin-bottom: 10px;
      padding-bottom: 10px;
      .button-corner-cut span {
        padding: 0 3px;
      }
    }
    .movie-list {
      .photo .button-corner-cut {
        display: none;
      }
      .entry .button-corner-cut {
        display: inline-block;
      }
      .rs-regular-s {
        max-height: none;
      }
      .align-focus {
        height: auto;
        line-height: normal;
        background: none;
      }
      &.latest {
        .photo {
          float: none;
          margin-right: 0;
          width: 100%;
          text-align: center;
        }
        .rs-regular-s {
          margin-top: 10px;
        }
        .desc {
        }
      }
    }
    .movie-list-wrap {
      padding-left: 0;
      .align-focus {
        height: 61px;
        line-height: 61px - 4;
        background: url(../images/bg-dotted.png);
      }
      .month {
        position: relative;
        left: auto;
        top: auto;
        max-width: 100%;
        margin-bottom: 10px;
      }
      .desc {
        display: none;
      }
    }
  }
}
