.module-movie-article {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: solid 1px @borderColor;
  .header {
    position: relative;
    .boilerplate-caption {
      margin-bottom: 15px;
    }
    .title {
      position: relative;
      z-index: 1;
      padding-right: 20px;
      margin-bottom: 11px;
    }
    .info {
      font-size: 12px;
      text-transform: uppercase;
      color: #666;
      margin-bottom: 20px;
      .author {
        padding-right: 15px;
      }
    }
    .fb-like {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      height: 21px;
      iframe{
      	position: relative;
      	z-index: 1;
      }
    }
  }
  .content {
    font-size: 16px;
    p {
      margin: 0;
      margin-bottom: 15px;
    }
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      margin-bottom: 15px;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .middle-left {
    .module-article {}
  }
}

@media screen and (max-width: 767px) {
  .middle-left {
    .module-movie-article {
    	margin-bottom: 0;
    	padding-bottom: 0;
    	border-bottom: none;
      .header {
        margin-bottom: 15px;
        .title {
          margin-bottom: 5px;
        }
      }
      .content {
      	font-size: 14px;
      }
    }
  }
}
