.module-article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px @borderColor;
  .header {
    position: relative;
    .boilerplate-caption {
      margin-bottom: 15px;
    }
    .title {
      position: relative;
      z-index: 1;
      padding-right: 20px;
      margin-bottom: 11px;
    }
    .info {
      font-size: 12px;
      text-transform: uppercase;
      color: #666;
      margin-bottom: 20px;
      .author {
        padding-right: 15px;
      }
    }
    .fb-like {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      height: 21px;
      iframe {
        position: relative;
        z-index: 1;
      }
    }
  }
  .content {
    margin-bottom: 50px;
    font-size: 16px;
    p {
      margin: 0;
      margin-bottom: 15px;
    }
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      margin-bottom: 15px;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .footer {}
  .other-article {
    @width_thumb: 80px;
    @height_thumb: 60px;
    li {
      float: left;
      position: relative;
      width: 50%;
      .thumbnail {
        min-width: 15px;
        max-width: @width_thumb;
        height: @height_thumb;
        line-height: @height_thumb - 4;
        overflow: hidden;
      }
      .info{
      	overflow: hidden;
      }


      .link {
        position: absolute;
        top: 12px;
        z-index: 1;
      }
      .name,
      .date {
        font-size: 15px;
        font-family: @fontFamilyRobotoSlab;
      }
      .name {}
      .type {
        font-size: 13px;
      }
    }
    .prev {
      .link {
        left: 0;
      }
      .thumbnail {
        float: left;
        margin-left: 20px;
        margin-right: 15px;
      }
      .info {
        padding-right: 10px;
      }
    }
    .next {
      float: right;
      .link {
        right: 0;
      }
      .thumbnail {
        float: right;
        margin-right: 20px;
        margin-left: 15px;
        text-align: right;
      }
      .info {
        text-align: right;
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .middle-left {
    .module-article {
      .other-article {
       li {
       	.name, .date{
       		font-size: 13px;
       	}
       	.type{
       		font-size: 11px;
       	}
       }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .middle-left {
    .module-article {
      .header {
        margin-bottom: 15px;
        .title {
          margin-bottom: 5px;
        }
        .fb-like{
        	overflow: hidden;
        }
      }
      .content {
        font-size: 14px;
        margin-bottom: 25px;
        > iframe {
          max-width: 100% !important;
          max-height: 200px !important;
        }
      }
      .other-article {
        li {
          @width_thumb: 71px;
          @height_thumb: 53px;
          padding-top: 0;
          .thumbnail {
            width: @width_thumb;
            height: @height_thumb;
            line-height: @height_thumb - 4;
            overflow: hidden;
          }
          .info {
            clear: both;
            padding: 0;
            padding-top: 10px;
            .name,
            .date {
              font-size: 12px;
            }
            .type {
              font-size: 11px;
              padding-top: 7px;
            }
          }
        }
        .prev {
          padding-left: 0;
          .thumbnail {
            margin-left: 0;
          }
          .link {
            left: -15px;
          }
          .info {
            padding-left: 0;
          }
        }
        .next {
          padding-right: 0;
          .thumbnail {
            margin-right: 0;
          }
          .link {
            right: -15px;
          }
          .info {
            padding-right: 0;
          }
        }
      }
    }
  }
}
