.module-search {
  .inner {
    background: url(../images/bg-dotted.png);
    padding: 20px;
  }
  .title-wrap {
    margin-bottom: 15px;
  }
  .entry {
    &:extend(.clearfix all);
    > div {
      float: left;
      margin-right: 10px;
    }
  }
  .control-input {
    position: relative;
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background: url(@iconSpritePath) no-repeat -410px -47px;
      position: absolute;
      left: 15px;
      top: 10px;
    }
    input {
      width: 248px;
      height: 40px;
      padding-left: 40px;
      font-size: 14px;
    }
  }
  .dropdown {
    width: 130px;
  }
  .dropdown-datepicker {
    width: 140px;
  }
  .link {
    span {
      padding: 0 5px;
    }
  }
  .dropdown-checklist {
    .dropdown-container {
      width: 266px;
      border: solid 1px @whiteDark;
    }
  }
  .autoComplete-search {
    background-color: #FFF;
    padding: 15px;
    border: solid 1px #999;
    border-top: none;
    border-bottom: solid 2px @gray;
    position: absolute;
    width: 100%;
    z-index: 1;
    max-height: 500px;
    overflow: auto;
    display: none;
    .list {
      position: static !important;
      width: 100% !important;
      li {
        font-size: 14px;
        color: #777;
        padding-bottom: 10px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.page-movie {
  .wrapper-top {
    > .module-search {
      position: relative;
      margin-bottom: 50px;
      .dropdown {
        width: 260px;
      }
      .link span {
        width: 88px;
      }
      .hint-error {
        color: @red;
        margin-bottom: 5px;
        display: none;
      }
      .hint-caption {
        position: absolute;
        bottom: -27px;
        .bold {
          font-family: @fontFamilyOpenSansBold;
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-search {
    .entry {
      > div {
        margin-bottom: 10px;
      }
    }
  }
  .page-movie {
    .wrapper-top {
      > .module-search {
        .dropdown {
          width: 205px;
        }
        .link span {
          width: 88px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-search {
    padding: 15px;
  }
  .page-movie {
    .wrapper-top {
      > .module-search {
        padding-top: 0;
        .inner {
          padding: 15px;
        }
        .dropdown {
          width: 100%;
          margin-bottom: 10px;
        }
        .link span {
          width: 88px;
        }
      }
    }
  }
}
