.module-movie-grid-list {
  .border-cheat(@y: -1px) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: url(../images/bg-dotted.png) 0px @y;
  }
  padding-top: 48px;
  position: relative;
  .header {
    position: relative;
    margin-bottom: 17px;
    .icon-cicle-dotted {
      position: absolute;
      left: -63px;
      top: -42px;
    }
    .title {
      position: relative;
      z-index: 1;
      font-size: 32px;
      margin-bottom: 13px;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        background-color: @whiteDark;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 14px;
        z-index: -1;
      }
    }
    .btn-see-more {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 35px;
      line-height: 30px;
      text-align: center;
      color: @white;
      font-family: @fontFamilyOpenSansBold;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  .item-list {
    margin-right: -1.8%;
    overflow: hidden;
    .item {
      float: left;
      margin-right: 1%;
      margin-bottom: 35px;
      height: 360px;
      width: 32.33333333%;
      .align-focus {
        height: 229px;
        line-height: 229px - 4;
        position: relative;
        text-align: center;
        overflow: hidden;
        max-width: 306px;
        background: url(../images/bg-dotted.png);
        img {
          max-height: 100%;
        }
        .fixed-size {
          width: 100%;
          height: 100%;
        }
      }
      .mpu-ads {
        text-align: center;
        background-color: #f2f2f2;
        height: 360px;
        line-height: 360px - 4;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        position: relative;
        > div {
          margin: 0 !important;
          padding: 0 !important;
          overflow: hidden !important;
          display: inline-block !important;
          border: none !important;
        }
        iframe {
          margin-bottom: 0 !important;
          vertical-align: middle !important;
        }
      }
      .entry {
        padding-top: 12px;
        .title-wrap {
          &.pure-ellipsis {
            max-height: 48px;
          }
        }
        .desc {
          margin-top: 7px;
          font-size: 14px;
          line-height: 20px;
          &.pure-ellipsis {
            max-height: 40px;
          }
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
      .link {
        color: @purple;
        font-weight: 600;
        font-size: 12px;
        margin-top: 10px;
        display: inline-block;
        font-family: @fontFamilyOpenSansBold;
        text-transform: uppercase;
      }
      .higher-list {
        padding-right: 6px;
        li {
          height: 77px;
          border: 0 dotted @graySemiLight;
          border-bottom-width: 1px;
          clear: both;
          font-size: 13px;
          position: relative;
          width: 100%;
          display: table;
          overflow: hidden;
          padding: 5px 0;
          .left-pane {
            padding-right: 90px;
            padding-left: 10px;
            display: table-cell;
            vertical-align: middle;
            .name {
              font-family: @fontFamilyRobotoSlab;
              font-size: 15px;
              line-height: 18px;
              display: block;
              max-height: 36px;
              overflow: hidden;
              margin-bottom: 2px;
            }
            .info {
              max-height: 36px;
              line-height: 18px;
              overflow: hidden;
              .cinema {
                font-family: @fontFamilyOpenSansBold;
                padding-right: 3px;
              }
              .type {}
            }
          }
          .link {
            position: absolute;
            right: 10px;
            top: 19px;
            font-size: 11px;
            border: solid 1px @purple;
            padding: 0 5px;
            height: 31px;
            line-height: 31px;
            &.free {
              border: none;
              font-size: 18px;
              font-family: @fontFamilyOpenSans;
              text-align: center;
            }
          }
          &:first-child {
            border-top-width: 1px;
          }
        }
      }
      &.container {
        margin-bottom: 0;
      }
      &:first-child {
        .align-focus {
          a:before {
            .border-cheat(-1px);
          }
        }
      }
    }
  }
  .view {
    text-align: center;
    border-top: solid 1px @whiteLight;
    padding-top: 10px;
    margin-bottom: 40px;
    .lbl-collapse {
      display: none;
    }
    a {
      color: @purple;
      font-family: @fontFamilyOpenSansBold;
      font-size: 12px;
      .icon {
        margin-top: 5px;
        margin-right: 10px;
      }
    }
  }
  &.opened {
    .item-list {
      height: auto !important;
    }
    .view {
      .lbl-expand {
        display: none;
      }
      .lbl-collapse {
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-movie-grid-list {
    .item-list {
      margin-right: -1%;
      .item {
        .align-focus {
          height: 184px;
          line-height: 184px - 4;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-movie-grid-list {
    padding-top: 40px;
    .header {
      .title {
        font-size: 22px;
        line-height: 23px;
        margin-bottom: 18px;
        &:after {
          bottom: 10px;
        }
      }
      .btn-see-more {
        bottom: 30px;
      }
      .icon-cicle-dotted {
        top: -20px;
        left: -55px;
      }
    }
    .item-list {
      height: auto;
      width: 100%;
      .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        height: auto;
        float: none;
        .entry {
          .title-wrap {}
        }
        .higher-list {
          li {
            .left-pane {
              .name {}
              .info {
                padding-top: 0;
                font-size: 11px;
              }
            }
            .link {
              top: 15px;
              font-size: 10px;
            }
          }
        }
        .align-focus {
          height: auto;
          line-height: normal;
          max-width: 100%;
          background: none;
        }
        .mpu-ads {
          display: none;
        }
        &:last-child {}
        &:first-child {
          .align-focus {
            a:before {
              background-position: 2px 1px;
            }
          }
        }
      }
    }
    .view{
    	margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .module-movie-grid-list {
    .item-list {
      .item {
        .align-focus {
          height: auto;
          line-height: normal;
          img {
            max-height: 100%;
          }
        }
      }
    }
  }
}
