.module-lastest-list {
  background-color: #f5f5f5;
  padding: 30px 22px 0 22px;
  .title-wrap {
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  .item-list {
    position: relative;
  }
  .item {
    overflow: hidden;
    border-top: dotted 1px #555;
    padding-top: 30px;
    padding-bottom: 30px;
    &:first-child {
      border-top-width: 0;
      padding-top: 0;
    }
  }
  .align-focus {
    text-align: center;
    background: url(../images/bg-dotted.png);
    width: 100px;
    height: 70px;
    line-height: 70px - 4;
    float: left;
    margin-right: 10px;
    img {
      max-height: 100%;
    }
    &:before,
    &:after {
      border-left-width: 5px;
      border-bottom-width: 5px;
    }
    &:before {
      border-left-color: #f5f5f5;
    }
    &:after {
      border-bottom-color: #f5f5f5;
    }
  }
  .entry {
    overflow: hidden;
    .name {
      font-family: @fontFamilyRobotoSlab;
      font-size: 16px;
      display: block;
    }
    .rating-vote {
      margin-top: 7px;
    }
  }
  &.middle {
    .entry {
      position: relative;
      height: 70px;
      .name {
        font-family: @fontFamilyRobotoSlab;
        font-size: 16px;
        display: block;
        position: absolute;
        left: 110px;
        top: 50%;
        .translate(0, -50%);
      }
      .rating-vote {
        margin-top: 7px;
      }
    }
  }
  .pure-ellipsis:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#f5f5f5), color-stop(45%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 45%, #f5f5f5);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 45%, #f5f5f5);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 45%, #f5f5f5);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 75%, #f5f5f5);
  }
}
