.module-list-top {
  padding-right: 6px;
  background-color: #f5f5f5;
  padding: 30px 22px 0 22px;
  .title-wrap {
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  .item-list {
  	padding-bottom: 30px;
    li {
      height: 77px;
      border: 0 dotted @graySemiLight;
      border-bottom-width: 1px;
      clear: both;
      font-size: 13px;
      position: relative;
      width: 100%;
      display: table;
      overflow: hidden;
      padding: 5px 0;
      .entry-pane {
        padding-right: 90px;
        display: table-cell;
        vertical-align: middle;
        .name {
          font-family: @fontFamilyRobotoSlab;
          font-size: 15px;
          line-height: 18px;
          display: block;
          max-height: 36px;
          overflow: hidden;
          margin-bottom: 2px;
        }
        .info {
          max-height: 36px;
          line-height: 18px;
          overflow: hidden;
          .cinema {
            font-family: @fontFamilyOpenSansBold;
            padding-right: 3px;
          }
        }
      }
      .link {
        position: absolute;
        right: 10px;
        top: 19px;
        font-size: 11px;
        border: solid 1px @purple;
        color: @purple;
        padding: 0 5px;
        height: 31px;
        line-height: 31px;
        font-family: @fontFamilyOpenSansBold;
        &.free {
          border: none;
          font-size: 18px;
          font-family: @fontFamilyOpenSans;
          text-align: center;
        }
      }
      &:first-child {
        border-top-width: 1px;
      }
    }
  }
}

.page-movie {
  .module-list-top {
    li {
      .link {
        color: @purple;
      }
    }
  }
}
