.module-movie-photo {
  &:extend(.clearfix all);
  .panel-header {
    .title-wrap {
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    .total-photos {
      font-size: 16px;
      margin-bottom: 7px;
    }
  }
  .carousels {
    margin-left: 20px;
    max-width: 100%;
    li {
      width: 147px;
      height: 108px;
      text-align: center;
      line-height: 108px - 4;
      float: left;
    }
  }
  .controls {
    position: relative;
    .prev,
    .next {
      position: absolute;
      z-index: 3;
      top: 34px;
    }
    .prev {
      left: 0;
      display: none;
    }
    .next {
      right: 0
    }
  }
  &.no-carousels {
    .carousels {
      li {
        float: left;
      }
    }
    .controls {
      display: none;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-movie-photo {
    .carousels {
      margin-left: 0;
      max-width: 100%;
    }
    .controls {
      position: relative;
      .prev {
        left: -10px;
      }
      .next {
        right: -10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-movie-photo {
    .carousels {
      margin-left: 0;
    }
    .controls {
      position: relative;
      .prev {
        left: -15px;
      }
      .next {
        right: -15px;
      }
    }
  }
}
