.module-caption {
  margin-bottom: 20px;
  .header {
    position: relative;
    .boilerplate-caption {
      margin-bottom: 15px;
    }
    .title {
      position: relative;
      z-index: 1;
      padding-right: 20px;
      margin-bottom: 11px;
    }
    .info {
      font-size: 12px;
      text-transform: uppercase;
      color: #666;
      margin-bottom: 20px;
      .author {
        padding-right: 15px;
      }
    }
    .fb-like {
      overflow: hidden;
      display: block;
      width: 100%;
      margin-bottom: 20px;
      height: 25px;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .middle-left {
    .module-article {}
  }
}

@media screen and (max-width: 767px) {
 
}
