@moduleGridList_item_height: 360px;
@moduleGridList_item_image_width: 306px;
@moduleGridList_item_image_height: 229px;
@moduleGridList_item_image_portrait_width: 245px;
@moduleGridList_item_image_portrait_height: 184px;
@moduleGridList_item_image_mobile_portrait_width: 290px;
@moduleGridList_item_image_mobile_portrait_height: 225px;
.pure-ellipsis() {
  overflow: hidden;
  position: relative;
  &:after {
    letter-spacing: .10em;
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 45px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(45%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
  }
}

.pure-ellipsis {
  .pure-ellipsis();
}

.module-grid-list {
  padding-top: 48px;
  position: relative;
  .header {
    position: relative;
    .icon-cicle-dotted {
      position: absolute;
      left: -63px;
      top: -42px;
    }
    .title {
      position: relative;
      z-index: 1;
      font-size: 32px;
      margin-bottom: 13px;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        background-color: @whiteDark;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 14px;
        z-index: -1;
      }
    }
    .btn-see-more {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 35px;
      line-height: 30px;
      text-align: center;
      color: @white;
      font-family: @fontFamilyOpenSansBold;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  .item-list {
    margin-right: -1.1%;
    overflow: hidden;
    height: @moduleGridList_item_height + 35;
    .item {
      float: left;
      margin-right: 1%;
      margin-bottom: 35px;
      height: @moduleGridList_item_height;
      width: 32.33333333%;
      .align-focus {
        height: @moduleGridList_item_image_height;
        line-height: @moduleGridList_item_image_height - 4;
        position: relative;
        text-align: center;
        overflow: hidden;
        max-width: 306px;
        background: url(../images/bg-dotted.png);
        .fixed-size {
          width: 100%;
          height: 100%;
        }
      }
      .mpu-ads {
        text-align: center;
        background-color: #f2f2f2;
        height: @moduleGridList_item_height;
        line-height: @moduleGridList_item_height - 4;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        position: relative;
        > div{
        	margin: 0 !important;
        	padding: 0 !important;
        	overflow: hidden !important;
        	display: inline-block !important;
        	border: none !important;
        }
        iframe {
          margin-bottom: 0 !important;
          vertical-align: middle !important;
        }
      }
      .entry {
        padding-top: 12px;
        .title-wrap {
          &.pure-ellipsis {
            max-height: 48px;
          }
        }
        .desc {
          margin-top: 7px;
          font-size: 14px;
          line-height: 20px;
          &.pure-ellipsis {
            max-height: 40px;
          }
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
      .link {
        color: @purple;
        font-weight: 600;
        font-size: 12px;
        margin-top: 10px;
        display: inline-block;
        font-family: @fontFamilyOpenSansBold;
        text-transform: uppercase;
      }
      .higher-list {
        padding-right: 6px;
        li {
          height: 77px;
          border: 0 dotted @graySemiLight;
          border-bottom-width: 1px;
          clear: both;
          font-size: 13px;
          position: relative;
          width: 100%;
          display: table;
          overflow: hidden;
          padding: 5px 0;
          .left-pane {
            padding-right: 90px;
            padding-left: 10px;
            display: table-cell;
            vertical-align: middle;
            .name {
              font-family: @fontFamilyRobotoSlab;
              font-size: 15px;
              line-height: 18px;
              display: block;
              max-height: 36px;
              overflow: hidden;
              margin-bottom: 2px;
            }
            .info {
              max-height: 36px;
              line-height: 18px;
              overflow: hidden;
              .cinema {
                font-family: @fontFamilyOpenSansBold;
                padding-right: 3px;
              }
              .type {}
            }
          }
          .link {
            position: absolute;
            right: 10px;
            top: 19px;
            font-size: 11px;
            border: solid 1px @purple;
            padding: 0 5px;
            height: 31px;
            line-height: 31px;
            &.free {
              border: none;
              font-size: 18px;
              font-family: @fontFamilyOpenSans;
              text-align: center;
            }
          }
          &:first-child {
            border-top-width: 1px;
          }
        }
      }
    }
  }
  .view {
    text-align: center;
    border-top: solid 1px @whiteLight;
    padding-top: 10px;
    .lbl-collapse {
      display: none;
    }
    a {
      color: @black;
      font-family: @fontFamilyOpenSansBold;
      font-size: 12px;
      .icon {
        margin-top: 5px;
        margin-right: 10px;
      }
    }
  }
  &.opened {
    .item-list {
    	height: auto !important;
    }
    .view {
      .lbl-expand {
        display: none;
      }
      .lbl-collapse {
        display: inline;
      }
    }
  }
  &.top-movie {
    .header {
      .title {
        color: @purple;
      }
    }
    .item-list {
      .item {
        .link {
          color: @purple;
        }
        .higher-list {
          li .link {
            border-color: @purple;
            &.free {
              width: 78px;
            }
          }
        }
      }
    }
    .view {
      a {
        color: @purple;
      }
    }
  }
  &.hgw-deal {
    .header {
      .title {
        color: @red;
      }
    }
    .item-list {
      .item {
        .link {
          color: @red;
        }
        .higher-list {
          li {
            .left-pane {
              padding-right: 60px;
            }
            .link {
              border-color: @red;
              &.free {
                width: 44px;
              }
            }
          }
        }
      }
    }
    .view {
      a {
        color: @red;
      }
    }
  }
  &.event-highlight {
    .header {
      .title {
        color: @green;
      }
    }
    .item-list {
      .item {
        .link {
          color: @green;
        }
        .higher-list {
          li .link {
            border-color: @green;
            &.free {
              width: 80px;
            }
          }
        }
      }
    }
    .view {
      a {
        color: @green;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-grid-list {
    .item-list {
      .item {
        margin-bottom: 20px;
        .align-focus {
          height: 183px;
          line-height: 183px - 4;
        }
        .higher-list {
          li {
            display: block;
            padding-top: 5px;
            padding-bottom: 10px;
            height: auto;
            .left-pane {
              display: block;
              padding-right: 0;
              padding-left: 5px;
              .name {
                max-height: none;
                padding-bottom: 5px;
              }
              .info {
                margin-right: 83px;
                float: left;
                line-height: 18px;
                max-height: none;
              }
            }
            .link {
              float: right;
              margin-left: -81px;
              margin-top: 3px;
              position: static;
              text-align: center;
            }
          }
        }
        &:nth-child(1) {
          height: auto;
        }
        &:nth-child(2) {
          height: auto;
        }
        &:nth-child(3) {
          height: auto;
        }
        &:nth-child(n+4) {
          height: 320px;
        }
      }
    }
    &.top-movie {
      .item-list {
        .item {
          .higher-list {
            li .link {
              width: 78px;
              &.free {
                width: 78px;
              }
            }
          }
          &:nth-child(1) {
            width: 27%;
          }
          &:nth-child(2) {
            width: 30.3333%;
            .align-focus {
              height: 171px;
              line-height: 172px - 6;
            }
          }
          &:nth-child(3) {
            width: 300px;
          }
        }
      }
    }
    &.hgw-deal {
      .item-list {
        .item {
          .higher-list {
            li {
              .left-pane {
                padding-right: 0;
                .info {
                  margin-right: 47px;
                  padding-right: 0;
                }
              }
              .link {
                margin-left: -45px;
                &.free {
                  width: 44px;
                }
              }
            }
          }
        }
      }
    }
    &.event-highlight {
      .item-list {
        .item {
          .higher-list {
            li .link {
              &.free {
                width: 80px;
              }
            }
          }
        }
      }
    }
  }
  .pc-device {
    .module-grid-list.top-movie .item-list .item:nth-child(2) {
      width: 29%;
    }
  }
}

@media screen and (max-width: 767px) {
  .module-grid-list {
    padding-top: 40px;
    .header {
      .title {
        font-size: 22px;
        line-height: 23px;
        margin-bottom: 18px;
        &:after {
          bottom: 10px;
        }
      }
      .btn-see-more {
        bottom: 30px;
      }
      .icon-cicle-dotted {
        top: -20px;
        left: -55px;
      }
    }
    .item-list {
      height: auto;
      width: 100%;
      .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        height: auto;
        float: none;
        &:last-child {
          margin-bottom: 0;
        }
        .entry {
          .title-wrap {}
        }
        .higher-list {
          li {
            .left-pane {
              .name {}
              .info {
                padding-top: 0;
                font-size: 11px;
              }
            }
            .link {
              top: 15px;
              font-size: 10px;
            }
          }
        }
        .align-focus {
          height: @moduleGridList_item_image_mobile_portrait_height;
          line-height: @moduleGridList_item_image_mobile_portrait_height - 4;
          max-width: 100%;
        }
        .mpu-ads {
          display: none;
        }
      }
    }
  }
  .page-home {
    .mpu-mobile {
    	padding-left: 0;
    	padding-right: 0;
    	img, object, iframe{
    		margin: 30px 0;
    	}
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .module-grid-list {
    .item-list {
      .item {
        .align-focus {
          height: 229px;
          line-height: 229px - 4;
          img {
            max-height: 100%;
          }
          .fixed-size {
            width: 306px;
            height: 229px;
          }
        }
      }
    }
  }

}
