.module-you-might-like {
  &:extend(.clearfix all);
  .header {
    position: relative;
    margin-bottom: 27px;
    .title-wrap {
      text-transform: uppercase;
      padding-top: 5px;
    }
    .link {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .content {
    ul {
      margin-right: -2%;
      li {
        float: left;
        width: 24%;
        margin-right: 1%;
        .align-focus {
          height: 212px;
          line-height: 212px - 4;
          max-width: 145px;
          text-align: center;
          background: url(../images/bg-dotted.png);
          img {
            max-height: 100%;
          }
          &:before,
          &:after {
            border-left-width: 10px;
            border-bottom-width: 10px;
          }
        }
        .entry {
          text-align: center;
          font-size: 16px;
          margin-top: 15px;
          max-width: 145px;
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-you-might-like {
    .content {
      ul {
        li {
          .align-focus {
            height: 150px;
            line-height: 150px - 4;
          }
          .entry {
            font-size: 14px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .middle-left {
    .module-you-might-like {
      .content {
        ul {
          li {
            .align-focus {
              height: 150px;
              line-height: 150px - 4;
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-you-might-like {
    .header {
      .title-wrap {
        padding-top: 7px;
      }
    }
    .content {
      ul {
        li {
          width: 49%;
          height: 275px;
          margin-bottom: 11px;
        }
      }
    }
  }
}
