.module-movie-list-four {
  margin-bottom: 30px;
  padding-bottom: 25px;
  &:extend(.clearfix all);
  .header {
    position: relative;
    margin-bottom: 27px;
    .title-wrap {
      text-transform: uppercase;
    }
    .link {
      position: absolute;
      right: 0;
      top: -5px;
    }
  }
  .content {
    &:extend(.clearfix all);
    overflow: hidden;
    ul {
      margin-right: -2%;
      li {
        float: left;
        width: 24%;
        margin-right: 1%;
        height: 330px;
        .align-focus {
          height: 212px;
          line-height: 212px - 4;
          background: url(../images/bg-dotted.png);
          img {
            max-height: 100%;
          }
          &:before,
          &:after {
            border-left-width: 10px;
            border-bottom-width: 10px;
          }
        }
        .entry {
          font-size: 16px;
          margin-top: 10px;
          .name {
            margin-bottom: 5px;
            font-family: @fontFamilyRobotoSlab;
            overflow: hidden;
            display: block;
          }
          .rating-vote {
            font-size: 13px;
            .review-count {
              padding-top: 0;
              margin-bottom: 7px;
            }
          }
          .info {
            font-size: 13px;
            margin-bottom: 5px;
            span {
              display: inline-block;
            }
            .cinema {
              font-family: @fontFamilyOpenSansBold;
              padding-right: 4px;
            }
            .mins {
              padding-left: 4px;
            }
          }
        }
      }
    }
  }
  .view {
    text-align: center;
    border-top: solid 1px @whiteLight;
    padding-top: 10px;
    .lbl-collapse {
      display: none;
    }
    a {
      color: @purple;
      font-family: @fontFamilyOpenSansBold;
      font-size: 12px;
      .icon {
        margin-top: 5px;
        margin-right: 10px;
      }
    }
  }
  &.opened {
    .item-list {
      height: auto !important;
    }
    .view {
      .lbl-expand {
        display: none;
      }
      .lbl-collapse {
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .middle-left {
    .module-movie-list-four {
      .content {
        ul {
          li {
            .align-focus {
              height: 150px;
              line-height: 150px - 4;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-movie-list-four {
    .content {
      ul {
        margin-right: -5%;
        li {
          width: 49%;
          margin-right: 1%;
          margin-bottom: 20px;
          .align-focus {
            height: 202px;
            line-height: 202px - 4;
            width: 138px;
          }
          .entry {
            .name {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
