.middle-right .module-event-submit {
  position: relative;
}
.middle-right .module-event-submit.container {
  margin-bottom: 40px;
}
.middle-right .module-event-submit .link {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  right: 20px;
}
