.module-expand {
  .panel-expand {
    overflow: hidden;
    .expand-item {}
  }
  .panel-view {
    text-align: center;
    border-top: solid 1px @whiteLight;
    padding-top: 10px;
    margin-bottom: 40px;
    .lbl-collapse {
      display: none;
    }
    a {
      color: @purple;
      font-family: @fontFamilyOpenSansBold;
      font-size: 12px;
      .icon {
        margin-top: 5px;
        margin-right: 10px;
      }
    }
  }
  &.expanded {
    .panel-expand {
      height: auto !important;
    }
    .panel-view {
      .lbl-expand {
        display: none;
      }
      .lbl-collapse {
        display: inline;
      }
    }
  }
}
