.module-movie-showtimes-search-result {
  font-size: 14px;
  .header {
    margin-bottom: 30px;
    .title-wrap {
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    .cinema-info {
      margin-bottom: 10px;
      text-transform: uppercase;
      .address {
        margin-right: 20px;
        font-size: 12px;
        color: #666;
      }
      .map {
        color: @purple;
        text-decoration: underline;
      }
    }
    .rating-control {
      margin-bottom: 15px;
      display: block;
    }
    .favourite {
      font-size: 14px;
      color: #222;
      .icon {
        margin-right: 7px;
      }
    }
  }
  .dates-panel {
    margin-bottom: 20px;
    &:extend(.clearfix all);
    .dates-list {
      margin-right: -1%;
    }
    .item {
      float: left;
      width: 33%;
      text-align: center;
      border: solid 1px @borderColor;
      border-left-width: 0;
      a {
        display: block;
        padding: 11px 0;
      }
      &:hover,
      &.selected {
        background-color: @purple;
        a {
          color: @white;
        }
      }
      &:first-child {
        border-left-width: 1px;
      }
    }
  }
  .format-panel {
    margin-bottom: 30px;
    &:extend(.clearfix all);
    .label {
      float: left;
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      font-family: @fontFamilyOpenSansSemibold;
    }
    .format-list {}
    .item {
      float: left;
      margin-left: 20px;
      label {
        font-size: 14px;
      }
    }
  }
  .result-panel {
    .result-list {}
    .item {
      margin-bottom: 30px;
      &:extend(.clearfix all);
      .thumbnail {
        float: left;
        margin-right: 20px;
        width: 109px;
        height: 160px;
        img {
          max-height: 100%;
        }
      }
      .entry {
      	overflow: hidden;
        padding-bottom: 10px;
        border-bottom: dotted 1px #555;
        font-size: 14px;
        min-height: 160px;
        .movie-name {
          font-size: 20px;
          font-family: @fontFamilyRobotoSlab;
          margin-bottom: 7px;
          display: inline-block;
        }
      }
    }
    .link-eat-nearby {
      margin-bottom: 15px;
      font-family: @fontFamilyOpenSansSemibold;
      a {
        color: @red;
      }
    }
  }
  .movie-formats {
    margin-bottom: 20px;
    label {
      margin-right: 18px;
    }
  }
  .movie-showtimes {
    &:extend(.clearfix all);
    .showtimes-list {
      .showtimes {
        width: 80px;
        height: 30px;
        border: solid 1px @purple;
        float: left;
        text-align: center;
        line-height: 30px;
        margin-bottom: 20px;
        margin-right: 20px;
        a {
          color: @purple;
        }
      }
    }
  }
  .panel-showtimes {
    .header {
      margin-bottom: 10px;
      .title-wrap {
        text-transform: uppercase;
        font-size: 14px;
        font-family: @fontFamilyOpenSansSemibold;
      }
    }
    .cinemas-name {
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    .movie-showtimes {
      padding-right: 80px;
    }
    .cinema-showtime {
      margin-bottom: 10px;
    }
  }
  .note {
    .bold {
      font-family: @fontFamilyOpenSansBold;
      text-transform: uppercase;
    }
  }
  .tab-content{
  	.tab-panel{
  		display: none;
  		&.selected{
  			display: block;
  		}
  	}
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .module-movie-showtimes-search-result {
    .header {
      .cinema-info {
        font-size: 10px;
      }
    }
    .dates-panel {
      .item {
        a {
          font-size: 12px;
          span {
            display: none;
          }
        }
      }
    }
    .format-panel {
      .label {
        display: block;
        float: none;
        margin-bottom: 15px;
      }
      .item {
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .result-panel {
      .item {
        margin-bottom: 25px;
        .thumbnail {
          width: 75px;
          height: 110px;
        }
        .entry {
          margin-left: 0;
          padding-bottom: 5px;
          min-height: 110px;
          .movie-name {
            font-size: 17px;
          }
          .movie-formats {
            span {
              padding-bottom: 5px;
            }
          }
          .movie-showtimes {
            .showtimes-list {
              .showtimes {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
    .panel-showtimes .movie-showtimes {
      padding-right: 40px;
    }
  }
}

