.module-restaurant-nearby,
.module-hot-restaurant-deal {
  background-color: #f5f5f5;
  padding: 30px 22px 1px 22px;
  .m-title {
    margin-bottom: 17px;
  }
  .list {
    .reset-list();
    .item {
      position: relative;
      margin-bottom: 20px;
      padding-top: 20px;
      border-top: dotted 1px #555;
      clear: both;
      overflow: hidden;
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
      .align-focus {
        float: left;
        margin-right: 10px;
        height: 70px;
        line-height: 70px - 4;
        width: 100px;
        text-align: center;
        background: url(../images/bg-dotted.png);
        img{
        	max-height: 100%;
        }
        &:before,
        &:after {
          border-left-width: 5px;
          border-bottom-width: 5px;
        }
        &:before {
          border-left-color: #f5f5f5;
        }
        &:after {
          border-bottom-color: #f5f5f5;
        }
      }
      .entry {
        overflow: hidden;
        .name {
          font-size: 16px;
          margin-bottom: 3px;
        }
        .type-place {
          font-size: 12px;
          margin-bottom: 7px;
        }
        .vote {
          font-size: 14px;
          color: @red;
          .icon {
            margin-left: 5px;
          }
        }
        .link {
          margin-top: 20px;
        }
      }
    }
  }
  .pure-ellipsis:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#f5f5f5), color-stop(45%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 45%, #f5f5f5);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 45%, #f5f5f5);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 45%, #f5f5f5);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f5f5f5 75%, #f5f5f5);
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .module-restaurant-nearby,
  .module-hot-restaurant-deal {
    background-color: @white;
    border-top: solid 1px @borderColor;
    .pure-ellipsis:after {
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(45%, white));
      background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
      background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
      background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 75%, white);
    }
  }
}
