.module-comment {
  .title-wrap {
    text-transform: uppercase;
  }
  .comment-list {
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f5f5f5;
  }
  .comment-item {
    padding-bottom: 20px;
    .thumbnail {
      float: left;
      margin-top: 20px;
      a {
        display: block;
        height: 50px;
        width: 50px;
        img {
          max-height: 100%;
        }
      }
    }
    .entry {
      margin-left: 70px;
      border-top: dotted 1px #555;
      padding-top: 20px;
    }
    .name {
      display: inline-block;
      min-width: 40px;
      margin-right: 7px;
      font-size: 13px;
    }
    .title {
      font-family: @fontFamilyOpenSansBold;
      margin-top: 5px;
    }
    .recommend {
      margin-top: 5px;
      label {
        font-family: @fontFamilyOpenSansBold;
        display: inline-block;
        padding-right: 6px;
      }
      span {
        display: inline-block;
      }
    }
    .rating-control {
      display: inline-block;
    }
    .date {
      display: inline-block;
      float: right;
      font-size: 12px;
    }
    .review-total {
      font-size: 12px;
    }
    .desc {
      margin-top: 5px;
    }
    .link-report-abuse{
    	font-size: 12px;
    	color:@purple;
    }
    &:first-child {
      padding-top: 30px;
      margin-top: 30px;
      .entry {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
      .thumbnail {
        margin-top: 0;
      }
    }
  }
  .action-link {
    text-align: right;
    margin-top: 20px;
  }
  &.border-top:before{
  	padding-top: 0;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .module-comment {
    .comment-list {}
    .comment-item {
      .date {
        float: none;
        display: inline-block;
      }
      &:first-child {
        margin-top: 0;
      }
    }

  }
}
