.middle-right {
  .module-event-submit {
    position: relative;
    width: 306px;
    padding: 0;
    margin: 0 auto;
    &.container {
      margin-bottom: 40px;
    }
    .thumbnail {
      text-align: center;
      a {
        display: block;
        position: relative;
      }
    }
    .link {
      position: absolute;
      z-index: 1;
      bottom: -10px;
      right: 20px;
    }
  }
}
