.module-next-prev-article {
  &.border-top {
    border-top: solid 1px @borderColor;
    padding-top: 30px;
  }
  &:extend(.clearfix all);
  .item-list {
    @width_thumb: 80px;
    @height_thumb: 60px;
    li {
      float: left;
      position: relative;
      width: 50%;
    }
    .thumbnail {
      width: @width_thumb;
      height: @height_thumb;
      line-height: @height_thumb - 4;
      overflow: hidden;
    }
    .link {
      position: absolute;
      top: 12px;
      z-index: 1;
    }
    .name,
    .date {
      font-size: 15px;
      font-family: @fontFamilyRobotoSlab;
    }
    .type {
      font-size: 13px;
    }
    .prev {
      .link {
        left: 0;
      }
      .thumbnail {
        float: left;
        margin-left: 20px;
      }
      .info {
        padding-left: @width_thumb + 30;
        padding-right: 10px;
      }
    }
    .next {
      float: right;
      .link {
        right: 0;
      }
      .thumbnail {
        float: right;
        margin-right: 20px;
        text-align: right;
      }
      .info {
        text-align: right;
        padding-right: @width_thumb + 35;
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .module-next-prev-article {
  	&.border-top{
  		border-top: 0;
  		padding-top: 0;
  	}
    .item-list {
      .name,
      .date {
        font-size: 12px;
      }
      .thumbnail{
      	margin-bottom: 10px;
      }
      .name{
      	margin-bottom: 7px;
      }
      .type {
        font-size: 11px;
      }
      .prev {
        .link {
          left: -15px;
        }
        .thumbnail {
          float: none;
          margin-left: 0;
        }
        .info {
          padding-left: 0;
        }
      }
      .next {
        .link {
          right: -15px;
        }
        .thumbnail {
          margin-right: 0;
        }
        .info {
          padding-right: 0;
          clear: right;
        }
      }
    }
  }
}
