.module-movie-info {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  font-size: 13px;
  &:extend(.clearfix all);
  .thumbnail {
    width: 196px;
    float: left;
    margin-right: 20px;
    a {
      display: block;
      width: 196px;
    }
  }
  .entry {
    padding-top: 10px;
    overflow: hidden;
    li {
      &:extend(.clearfix all);
      overflow: hidden;
      padding-bottom: 10px;
      > div {
        padding-bottom: 2px;
      }
    }
    .list {
      .name {
        font-family: @fontFamilyRobotoSlab;
        font-size: 32px;
        margin: 0;
        font-weight: normal;
      }
      .title {
        font-family: @fontFamilyOpenSansBold;
        color: #222;
        font-size: 12px;
        text-transform: uppercase;
      }
      .place {
        font-family: @fontFamilyOpenSansBold;
        color: @purple;
        font-size: 13px;
      }
      .rated,
      .genre,
      .lang,
      .cinema {
        float: left;
        overflow: hidden;
      }
      .rated,
      .genre,
      .lang {
        margin-right: 30px;
      }
      .genre {
        max-width: 150px;
      }
      .rated,.lang {
        width: 120px;
        margin-bottom: 10px;
      }
      .action-link {
        margin-top: 40px;
      }
      .link-review {}
      .link-first-review {
        font-family: @fontFamilyOpenSansSemibold;
        color: @purple;
      }
      .link-showtime {
        margin-left: 10px;
      }
    }
  }
  .media-body {
    padding-top: 10px;
    overflow: hidden;
    .media-heading {
      font-family: @fontFamilyRobotoSlab;
      font-size: 32px;
      margin: 0;
      font-weight: normal;
      margin-bottom: 10px;
    }
    .movie-detail {
      p {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
      }
      strong {
        font-family: @fontFamilyOpenSansBold;
        font-weight: normal;
      }
      .contentRating {
        float: left;
        margin-right: 30px;
      }
      .rating-vote {
        margin-top: 10px;
      }
      .review-count {
        display: block;
      }
      .link-review,
      .link-showtimes {
        margin-top: 40px;
      }
      .link-review {}
      .link-showtimes {
        margin-left: 10px;
      }
      .link-first-review {
        font-family: @fontFamilyOpenSansSemibold;
        color: @purple;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .module-movie-info {
    .thumbnail {
    	margin-right: 10px;
    }
    .entry {
      .list {
        .rated,
        .genre,
        .lang {
        	width: 100%;
        	margin-right: 0;
        }
        .action-link {
          .button-corner-cut span {
            padding: 0 5px;
          }
          .link-showtime {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .module-movie-info {
    height: auto;
    background-color: transparent;
    .thumbnail {
      float: none;
      height: auto;
      width: 100%;
      display: block;
      a {
        width: 100%;
      }
    }
    .entry {
      padding-left: 15px;
      background-color: #f5f5f5;
      font-size: 12px;
      .list {
        .name {
          font-size: 24px;
        }
        .action-link {
          margin-top: 7px;
        }
        .rated,
        .genre,
        .lang {
          margin-right: 0;
          float: none;
          max-width: none;
        }
      }
    }
  }
}
