/** initial setup **/

.nano-dropdown {
  max-height: 400px!important;
}

.nano {
  position: relative;
  overflow: hidden;
  //width    : 100%;
  //height   : 100%;
  //height: 500px;
  width: 100%;
}

.colorbox-content .nano {
  height: 500px;
}

.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nano > .nano-content:focus {
  outline: thin dotted;
}

.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}

.nano > .nano-pane {
  position: absolute;
  width: 5px;
  right: 5px;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
  background: #ccc;
  position: relative;
  .opacity(50);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .nano-dropdown {
    max-height: 200px!important;
  }
}
