.page-event-finder-result {
  .module-search {
    margin-bottom: 10px;
    .dropdown-checklist {
      .dropdown-container {
        left: auto;
        right: 0px;
        margin-top: 10px;
      }
    }
    .range-select {
      .dropdown-head .value {
        font-size: 13px;
      }
    }
  }
  .event-list-wrap{
  	padding-left: 0;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-event-finder-result {
    .head-wrap .title-wrap {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .page-event-finder-result {
    .head-wrap .title-wrap {
      padding-right: 0;
    }
    .module-search {
      .control-input input {
        width: 212px;
      }
    }
    .middle-right {
      .module-event-submit {
        display: none;
      }
    }
  }
}
