.page-home {
  .container {
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .page-home {
    .container {
      padding-bottom: 15px;
      margin-bottom: 0;
    }
  }
}
