.page-article-single-event {
  .module-article {
    @thumbWidth: 400px;
    .article-event-top {
      background-color: #f5f5f5;
      overflow: hidden;
      display: table;
      margin-bottom: 30px;
      font-size: 13px;
      .thumbnail {
        width: @thumbWidth;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
      .entry {
        padding-left: 20px;
        padding-top: 15px;
        padding-right: 30px;
        li {
          &:extend(.clearfix all);
          overflow: hidden;
          padding-bottom: 20px;
          >div {
            padding-bottom: 2px;
          }
        }
        .list {
          .date-heading {
            margin: 0;
            font-weight: normal;
          }
          .title {
            font-family: @fontFamilyOpenSansBold;
            color: #222;
            font-size: 12px;
            text-transform: uppercase;
          }
          .place {
            font-family: @fontFamilyOpenSansBold;
            font-size: 13px;
            margin: 0;
            font-weight: normal;
            color: @green;
            a {
              color: @green;
            }
          }
          .link {}
        }
      }
    }
    .weblink {
      .title {
        font-family: @fontFamilyOpenSansBold;
        font-size: 12px;
        padding-right: 5px;
        text-transform: uppercase;
      }
    }
  }
  .module-search {
    .autoComplete-search {
      border-bottom-color: @green;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-article-single-event {
    .module-article {
      .article-event-top {
        .thumbnail {
          width: 245px;
        }
        .entry {
          padding-left: 15px;
          padding-top: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-article-single-event {
    .module-article {
      .article-event-top {
        height: auto;
        width: 100%;
        .thumbnail {
          float: none;
          max-width: 100%;
          line-height: normal;
          height: auto;
          display: block;
          width: 100%;
        }
        .entry {
          padding-left: 0;
          .list {
            padding: 0 15px;
            li {
              padding-bottom: 7px;
            }
            .name {
              font-size: 24px;
            }
            .action-link {
              margin-top: 7px;
            }
          }
        }
      }
    }
  }
}
