.page-movie-article-single {
  .panel {
    .title-wrap {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    .entry {
      font-size: 16px;
      p {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
  .movie-feature-cast {
    .list {
      overflow: hidden;
      margin-right: -2.5%;
    }
    .item {
      float: left;
      width: 24%;
      margin-right: 1%;
      .thumbnail {
        a {
          height: 212px;
          line-height: 212px - 4;
          display: block;
          margin-bottom: 14px;
          text-align: center;
          img {
            max-height: 100%;
          }
        }
        .name {
          font-size: 16px;
          color: #555;
          text-align: center;
        }
      }
    }
  }
  .movie-trailer {
    .video-container {
      height: 360px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
	.page-movie-article-single{
		 .movie-feature-cast {
		 	.item {
		 		.thumbnail {
		 			a{
		 				height: 150px;
		 				line-height: 150px - 4;
		 				margin-bottom: 7px;
		 			}
		 		}
		 	}
		 }
	}
}

@media screen and (max-width: 767px) {
  .page-movie-article-single {
    .panel {
      .title-wrap {
        font-size: 12px;
      }
      .entry {
        font-size: 14px;
      }
    }
    .module-comment {
      &.border-top:before {
        border-top: none;
      }
    }
  }
}
