.page-movie-report-abuse {
  .movie-report-form {
    font-size: 16px;
    background: url(../images/bg-reportabuse.png) no-repeat right 50px;
    form {
      padding-right: 346px;
    }
    textarea {
      height: auto;
      width: 100%;
      min-height: 110px;
    }
    .details {
      label {
        font-family: @fontFamilyOpenSansSemibold;
        margin-bottom: 10px;
        display: block;
      }
      margin-bottom: 15px;
    }
    .action {
      text-align: right;
    }
  }
  .radio-group {
    label {
      display: block;
      margin-bottom: 15px;
      font-size: 16px;
    }
  }
  .head-caption {
    margin: 20px 0;
  }
  .movie-report-thank {
    .entry {
      .title-wrap,
      .content-wrap {
        text-align: center;
        line-height: 40px;
        margin-bottom: 10px;
      }
      .title-wrap {}
      .action {
        text-align: right;
        a {
          color: @purple;
          font-family: @fontFamilyOpenSansBold;
          .icon {
            margin-top: 5px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .page-movie-report-abuse {
    .movie-report-form {
      background: none;
      form {
        padding-right: 0;
      }
    }
  }
}
