.page-movie-search-result {
  .module-movie-showtimes-search-result {}
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .page-movie-search-result {
    .module-movie-showtimes-search-result {
      .panel-showtimes {
        .movie-showtimes {
        	padding-right: 0;
        	.showtimes-list .showtimes{
        		margin-right: 15px;
        		margin-bottom: 15px;
        	}
        }
      }
    }
  }
}
