.page-movie-news {
  .module-movie-grid-list .item-list {
    margin-right: -1.8%;
  }
  .movie-feature {
    .item-list {
      .item {
        width: 49%;
        margin-right: 1%;
        height: auto;
      }
    }
  }
  .movie-interview {
    .item-list {
      margin-right: -3%;
      .item {
        width: 49%;
        margin-right: 1%;
      }
    }
  }
  .movie-lastest-review {
    .item-list {
      .item {
        height: auto;
        margin-bottom: 0;
        .entry {
          .rating-control {
            margin-top: 7px;
            margin-bottom: 9px;
          }
        }
      }
    }
  }
  .movie-photo-gallery {
  	margin-top: -56px;
  }
  .movie-feature-list {
    height: auto;
    .feature-item {
      width: 100%;
      height: auto;
      float: none;
      margin: 0;
      padding: 20px 0;
      border-bottom: dotted 1px #555;
      .align-focus {
        width: 100px;
        height: 75px;
        line-height: 75px - 4;
        max-width: none;
        float: left;
        margin-left: 10px;
        text-align: center;
        background: url(../images/bg-dotted.png);
        img {
          max-height: 100%;
        }
        &:before,
        &:after {
          border-left-width: 5px;
          border-bottom-width: 5px;
        }
      }
      .entry {
        padding-top: 0;
        height: 75px;
        font-size: 15px;
        font-family: @fontFamilyRobotoSlab;
        position: relative;
        .name {
          position: absolute;
          left: 120px;
          top: 50%;
          .translate(0, -50%);
        }
      }
      &:first-child {
        border-top: dotted 1px #555;
      }
    }
  }
  .movie-news {
    .item-list {
      height: 790px;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-movie-news {
    .movie-feature {
      .item-list {
        .item {
          .align-focus {
            height: 157px;
            line-height: 157px - 4;
          }
        }
      }
      .movie-feature-list {
        .feature-item {
          .align-focus {
            height: 75px;
            line-height: 75px - 4;
          }
        }
      }
    }
    .movie-interview {
      .item-list {
        .item {
          height: auto;
          .align-focus {
            height: 159px;
            line-height: 159px - 4;
          }
        }
      }
    }
    .movie-news {
      .item-list {
        height: auto;
        margin-right: -1%;
        .item {
          height: 300px;
          .mpu-ads {
            height: 300px;
            line-height: 300px;
          }
          .align-focus {
            height: 185px;
            line-height: 185px - 4;
          }
          &:nth-child(4),
          &:nth-child(5) {
            width: 28.5%;
            .align-focus {
              height: 163px;
              line-height: 163px - 4;
            }
          }
          &:nth-child(6) {
            width: 40%;
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            height: 300px;
          }
        }
      }
    }
    .movie-lastest-review {
      .item-list {
        margin-right: -1%;
        .item {
          .align-focus {
            height: 185px;
            line-height: 185px - 4;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .page-movie-news {
    .movie-feature {
      .item-list {
        .item {
          width: 100%;
          margin-right: 0;
        }
      }
    }
    .movie-interview {
      .item-list {
        .item {
          width: 100%;
          margin-right: 0;
        }
      }
    }
    .movie-news {
      .item-list {
        height: auto;
      }
    }
    .movie-photo-gallery{
    	margin-top: -30px;
    }
    .mpu-mobile {
      padding: 0!important;
      margin-bottom: 30px;
    }
  }
}
