.page-event-series,
.page-article-single-event,
.page-event-submit,
.page-event-submit-thanks,
.page-movie-article-single,
.page-movie-gallery,
.page-movie-review,
.page-movie-series {
  .middle-right {
    margin-top: 20px;
  }
}

.page-movie-news,
.page-movie-now-showing {
  .middle-right {
    margin-top: 56px;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .page-event-series,
  .page-article-single-event,
  .page-event-submit,
  .page-event-submit-thanks,
  .page-movie-article-single,
  .page-movie-gallery,
  .page-movie-review,
  .page-movie-series {
    .middle-right {
      margin-top: 0;
    }
  }
  .page-movie-news,
  .page-movie-now-showing {
    .middle-right {
      margin-top: 0;
    }
  }
}
