.page-movie-article {}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .page-movie-article {
  	.module-lastest-list,.module-restaurant-nearby{
  		display: none;
  	}
  }
}
