.page-movie-review {
  .boilerplate-caption {
    margin-bottom: 20px;
  }
  .review-form {
    background-color: #f5f5f5;
    &:extend(.clearfix all);
    .thumbnail {
      width: 196px;
      height: 300px;
      line-height: 300px - 4;
      float: left;
      a {
        display: block;
      }
    }
    .thankyou {
      margin-top: 20px;
      font-size: 16px;
    }
    .entry {
      padding: 10px 20px;
      overflow: hidden;
      .input-control {
        margin-bottom: 15px;
        .title-wrap {
          margin-bottom: 5px;
        }
      }
      .text-counter {
        font-size: 12px;
      }
      .rating-control {
        margin-bottom: 15px;
        span{
        	cursor: pointer;
        }
      }
      textarea {
        width: 100%;
        height: 130px;
        padding: 5px 10px;
      }
      .more-options {
        a {
          color: @purple;
          position: relative;
          font-size: 12px;
          &:after {
            content: "";
            width: 0px;
            height: 0px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #972792;
            position: absolute;
            bottom: 5px;
            margin-left: 2px;
          }
        }
      }
      .expand-panel {
        display: none;
      }
      .recommend-panel {
        font-size: 12px;
        margin-bottom: 20px;
        .label {
          font-family: @fontFamilyOpenSansBold;
          margin-bottom: 7px;
        }
        .list-recommend {
          &:extend(.clearfix all);
          li {
            float: left;
            margin-left: 10px;
            margin-bottom: 10px;
            &:first-child {
              margin-left: 0;
            }
            .iCheckbox {
              font-size: 12px;
            }
          }
        }
      }
      .action {
        text-align: right;
      }
    }
  }
  .module-comment {
    .title-wrap {
      margin-bottom: 30px;
    }
    .comment-item {
      .name {
        margin-right: 40px;
      }
      .date {
        float: none;
        margin-right: 40px;
      }
      .rating-control-small {
        float: right;
      }
      .review-total {
        margin-right: 40px;
      }
    }
  }
  .error{
  	color: @red;
  	font-size: 13px;
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-movie-review {
    .review-form {
      .thumbnail{
      }
      .entry{
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-movie-review {
    .review-form {
      background-color: #fff;
      .thumbnail {
        float: none;
        width: 100%;
        height: auto;
        line-height: normal;
      }
      .entry {
        background-color: #f5f5f5;
        padding: 15px;
        textarea {
          width: 100%;
          height: 130px;
        }
        .recommend-panel {
        	.list-recommend{
        		li{
        			margin-right: 10px;
        			margin-left: 0;

        			&:last-child{
        				margin-right: 0;
        			}
        		}
        	}
        }
      }
    }
    .module-comment{
    	.comment-item {
    		.name{
    			float: none;
    			min-width: 0;
    			margin-right: 10px;
    		}
    		.rating-control-small{
    			float: none;
    			margin-top: 2px;
    		}
    		.date{
    			margin-right: 20px;
    		}
    		.review-total{
    			margin-right: 0;
    		}
    		.recommend{
    			label,span{display: inline-block;}
    		}
    	}
    }
  }
}
