.page-movie-now-showing {
  .module-movie-grid-list {
    .entry {
      .title-wrap {
        font-size: 16px;
        margin-bottom: 2px;
      }
      .info {
        margin-bottom: 7px;
        .cinema {
          font-family: @fontFamilyOpenSansBold;
        }
      }
      .rating-control {
        margin-bottom: 5px;
      }
    }
  }
  .popular-this-week {
    .carousel-controls {
      position: absolute;
      z-index: 3;
      right: 0;
      top: 30px;
      background-color: @white;
      height: 55px;
      width: 75px;
      .carousel-prev,
      .carousel-next {
        width: 30px;
        height: 21px;
        display: inline-block;
        background: url(@iconSpritePath) no-repeat 0 0;
        color: transparent;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        filter: alpha(opacity=100);
        opacity: 1;
        margin: 0;
        padding: 0;
        margin-top: 17px;
      }
      .carousel-prev {
        background-position: -445px -119px;
      }
      .carousel-next {
        background-position: -475px -119px;
      }
    }
    .carousel {
      max-width: 100%;
    }
    .item-list {
      height: auto;
      .item {
        width: 25%;
        margin-right: 0;
        height: 365px;
        margin-bottom: 0;
        float: left;
        .align-focus {
          height: 212px;
          line-height: 212px - 4;
          max-width: 145px;
          &:before,
          &:after {
            border-left-width: 10px;
            border-bottom-width: 10px;
          }
        }
        .entry {}
      }
    }
  }
  .editor-picks,
  .all-movie {
    .item-list {
      margin-right: -6%;
      .item {
        width: 15%;
        margin-right: 1%;
        height: 365px;
        .align-focus {
          height: 212px;
          line-height: 212px - 4;
          max-width: 145px;
          &:before,
          &:after {
            border-left-width: 10px;
            border-bottom-width: 10px;
          }
        }
      }
    }
  }
  .all-movie {
    .item-list {
      height: auto;
    }
  }
  .lastest-review {
    .item-list {
      .item {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-movie-now-showing {
    .popular-this-week {
      .item-list {
        .item {
          width: 100px;
          margin-right: 5px;
          .align-focus {
            height: 146px;
            line-height: 146px - 4;
          }
        }
      }
    }
    .editor-picks,
    .all-movie {
      .item-list {
        margin-right: -5.3%;
        .item {
          height: 345px;
          .align-focus {
            height: 174px;
            line-height: 174px - 4;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-movie-now-showing {
    .popular-this-week {
      .carousel-controls {
        height: 50px;
        top: 5px;
      }
      .item-list {
        .item {
          width: 137px;
          margin-right: 15px;
          .align-focus {
            max-width: 100%;
            height: 201px;
            line-height: 201px - 4;
          }
        }
      }
      .no-carousel {
        .item-list .item {
          width: 49%;
          margin-right: 1%;
          float: left;
        }
      }
    }
    .editor-picks,
    .all-movie {
      .item-list {
        margin-right: -1%;
        width: auto;
        .item {
          height: auto;
          width: 49%;
          margin-right: 1%;
          float: left;
          .align-focus {
            max-width: 137px;
            height: 200px;
            line-height: 200px - 4;
          }
        }
      }
    }
  }
}
