.page-movie-landing {
  .coming-soon {
    .title-wrap {
      font-size: 16px;
      line-height: 21px;
    }
    .item-list {
      height: auto;
      margin-right: -2%;
      .item {
        width: 23%;
        height: auto;
        margin-right: 1.8%;
        margin-bottom: 0;
        .align-focus {
          height: 212px;
          line-height: 212px - 4;
          max-width: 145px;
          &:before,
          &:after {
            border-left-width: 5px;
            border-bottom-width: 5px;
          }
        }
      }
    }
    .panel {
      position: relative;
    }
    .panel-left {
      width: 640px;
    }
    .panel-right {
      width: 300px;
      position: absolute;
      right: 0;
      margin-right: 0;
      background-color: #f2f2f2;
      height: 310px;
      line-height: 310px - 4;
      top: 0;
      img,
      object,
      iframe {
        margin-bottom: 0 !important;
        vertical-align: middle !important;
      }
    }
  }
  .movie-news {
    .item-list {
      height: auto;
      .item {
        height: 336px;
        margin-bottom: 50px;
        .mpu-ads {
          height: 336px;
          line-height: 336px - 4;
          iframe {
            margin-bottom: 0 !important;
            vertical-align: middle !important;
          }
        }
      }
    }
  }
  .movie-trailer {
    .item-list {
    	height: auto;
      .item {
      	height: auto;
        .align-focus {
          a {
            &:after {
              content: "";
              width: 67px;
              height: 67px;
              background: url(@iconSpritePath) no-repeat -125px -137px;
              position: absolute;
              display: block;
              top: 50%;
              left: 50%;
              margin-top: -33px;
              margin-left: -33px;
            }
          }
        }
      }
    }
  }
  .movie-contest {
    .item-list {
      .item {
      	height: auto;
        .align-focus {
          a {
            &:after {
              content: "";
              width: 98px;
              height: 97px;
              background: url(@iconSpritePath) no-repeat -6px -130px;
              position: absolute;
              display: block;
              top: 0;
              right: 0;
            }
          }
        }
        .entry {
          font-size: 14px;
          .date {
            margin-top: 6px;
          }
          .desc {
            margin-top: 0;
          }
        }
      }
    }
  }
  .movie-on-demand {
    .title-wrap {
      font-size: 16px;
      line-height: 21px;
    }
    .item-list {
      height: auto;
      margin-right: -2%;
      .item {
        width: 19%;
        margin-right: 1%;
        height: auto;
        .align-focus {
          height: 269px;
          line-height: 269px - 4;
          &:before,
          &:after {
            border-left-width: 5px;
            border-bottom-width: 5px;
          }
        }
        &.singtel-tv {
          .header-wrap {
            text-align: center;
          }
          .title-wrap {
            font-size: 20px;
          }
          .desc {
            padding-right: 5px;
          }
        }
      }
    }
  }
  .movie-trailer-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    .container {
      position: relative;
      height: 100%;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.95;
    }
    .x-close {
      position: absolute;
      top: 20px;
      right: 0;
    }
    .panel {
      width: 590px;
      height: 360px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -590px / 2;
      margin-top: -360px / 2;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-movie-landing {
    .module-search {
      padding-left: 10px;
      padding-right: 10px;
      .entry > div {
        margin-right: 10px;
      }
      .dropdown {
        width: 198px;
      }
    }
    .module-movie-grid-list {
      .item-list {
        .item {
          .align-focus {
            height: 185px;
            line-height: 185px - 4;
          }
        }
      }
    }
    .coming-soon {
      .panel-left {
        width: 440px;
      }
      .item-list {
        .item {
          .align-focus {
            height: 151px;
            line-height: 151px - 4;
          }
          .entry {
            .desc {
              font-size: 12px;
            }
          }
        }
      }
    }
    .movie-news {
      .item-list {
        height: auto;
        .item {
          margin-bottom: 0;
          &:nth-child(4),
          &:nth-child(5) {
            width: 28.5%;
            .align-focus {
              height: 163px;
              line-height: 163px - 4;
            }
          }
          &:nth-child(6) {
            width: 40%;
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            height: 380px;
          }
        }
      }
    }
    .movie-on-demand {
      .item-list {
      	margin-right: -1%;
        .item {
          .align-focus {
            height: 210px;
            line-height: 210px - 4;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-movie-landing {
    .coming-soon {
      .title-wrap {}
      .item-list {
        margin-right: -3%;
        width: auto;
        .item {
          width: 48%;
          height: auto;
          margin-right: 2%;
          float: left;
          .align-focus {}
        }
      }
      .panel-left {
        width: 100%;
      }
      .panel-right {
        width: 100%;
        height: auto;
        line-height: normal;
        position: static;
        background: none;
        .mpu-ads {
          margin-left: -15px;
        }
      }
    }
    .movie-news {
      .item-list {
        height: auto;
        .item {
          height: auto;
          margin-bottom: 20px;
        }
      }
      .view {
        margin-bottom: 10px;
      }
    }
    .movie-on-demand {
      .item-list {
        margin-right: -3%;
        width: auto;
        .item {
          width: 143px;
          margin-right: 6px;
          height: auto;
          float: left;
          vertical-align: top;
          display: inline-block;
          margin-bottom: 15px;
          .align-focus {
            height: 210px;
            line-height: 210px - 4;
          }
        }
      }
    }
  }
}
