.photo-gallery {
  position: relative;
  .slideshow-container {
    overflow: hidden;
    position: relative;
    .caption-container {
      height: 40px;
      min-height: 40px;
      overflow: hidden;
      margin-bottom: 25px;
      &.expanded {
        height: auto;
      }
      .image-caption a {
        color: @purple;
      }
    }
    .more-caption-wrap {
      max-height: 18px;
      position: relative;
      margin-bottom: 25px;
      margin-top: -25px;
      cursor: pointer;
      font-family: @fontFamilyOpenSansSemibold;
      visibility: hidden;
      &.visible{
      	visibility: visible;
      }
      .more-caption {
        &:after {
          content: "";
          width: 0px;
          height: 0px;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          border-top: 3px solid @purple;
          position: absolute;
          bottom: 5px;
          margin-left: 2px;
        }
        &.less:after {
          border-bottom: 3px solid @purple;
          border-top: none;
        }
      }
    }
  }
  .slideshow-wrap {
    overflow: hidden;
    position: relative
  }
  .gallery-t {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    margin-bottom: 16px;
    overflow: hidden;
    padding: 0 190px 0 0;
    position: relative;
    .show-thumbnail {
      display: block;
      margin: 9px 0;
      overflow: hidden;
      height: 20px;
      a {
        background: url("@{iconSpritePath}") no-repeat;
        float: left;
        margin-left: 11px;
        height: 19px;
        width: 19px;
        text-indent: -9999px;
        z-index: 9;
      }
      .ico-gallery {
        background-position: -325px -64px;
      }
      .ico-gallery.active {
        background-position: -325px -86px;
      }
      .ico-thumb {
        background-position: -347px -64px;
      }
      .ico-thumb.active {
        background-position: -347px -86px;
      }
    }
    .controls {
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  .nav-controls .prev,
  .nav-controls .next,
  .navi-thumb .prev,
  .navi-thumb .next {
    background: url("@{iconSpritePath}") no-repeat;
    float: left;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
  }
  .nav-controls .prev,
  .navi-thumb .prev {
    background-position: -435px -25px;
  }
  .nav-controls .next,
  .navi-thumb .next {
    background-position: -476px -26px;
  }
  .nav-controls span {
    float: left;
    line-height: 40px;
    width: 110px;
    padding: 0 25px;
    text-align: center;
  }
}

.photo-gallery .slideshow-container #slideshow {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 450px;
  line-height: 450px - 4;
}

.photo-gallery .slideshow-container #slideshow a.advance-link {
  text-align: center
}

.photo-gallery .slideshow-container #slideshow a.advance-link:hover,
.photo-gallery .slideshow-container #slideshow a.advance-link:active,
.photo-gallery .slideshow-container #slideshow a.advance-link:visited {
  text-decoration: none
}

.photo-gallery .slideshow-container #slideshow a.advance-link:focus {
  outline: 0
}

.photo-gallery .slideshow-container #slideshow img {
  max-height: 450px;
  max-width: 600px
}

.photo-gallery .slideshow-container.portrait #slideshow {
  text-align: left
}

.photo-gallery .slideshow-container.portrait #slideshow img {
  max-height: 432px;
  max-width: 324px
}

.photo-gallery .slideshow-container.portrait .caption-container {
  height: auto
}

.photo-gallery .slideshow-container.portrait .caption-container .image-caption {
  position: absolute!important;
  left: 340px;
  top: 0;
  width: 47%;
  height: auto;
}

.gallery-fix-thumb .loader {
  position: absolute;
  top: 48%;
  left: 48%;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 48px;
  width: 48px;
}

.photo-gallery .summary {
	margin-bottom: 30px;
  a {
    color: @purple;
  }
  p {
    margin: 0;
    margin-bottom: 15px;
  }
}

.photo-gallery .slideshow-container .ss-controls {
  display: none;
}

.photo-gallery .portrait .slideshow-wrap {
  height: 435px!important;
}

.photo-gallery .portrait .caption-container {
  height: auto!important;
  margin-bottom: 0!important;
}

.photo-gallery .portrait #slideshow {
  position: absolute!important;
}

.photo-gallery #caption p.more {
  font-weight: 600;
}

.photo-gallery .caption {
  font-size: 14px;
  overflow: hidden;
  p {
    margin: 0;
    padding: 0;
  }
}

.photo-gallery .navigation-container {
  position: relative;
  margin-top: 0;
}

.photo-gallery .navigation-container.navigation-slide {
  margin-top: 25px;
}

.photo-gallery .navigation-container.navigation-slide .thumbs li {
  height: 108px;
  line-height: 108px - 4;
  text-align: center;
}

.photo-gallery .navigation-container.navigation-slide .thumbs li .credit {
  display: none;
}

.photo-gallery .navigation-container.navigation-thumb .thumbs li {
  height: 107px;
  line-height: 103px;
  text-align: center;
}

.photo-gallery .navigation-container.navigation-thumb .thumbs li img {
  max-height: 107px;
}

.photo-gallery .navigation-container .navigation {
  position: relative;
  min-height: 80px;
}

.photo-gallery .navigation-container .navi-thumb .pageLink {
  position: absolute;
  top: 34px;
}

.photo-gallery .navigation-container .navi-thumb .pageLink:hover {
  .opacity(100);
}

.photo-gallery .navigation-container .navi-thumb .pageLink.prev {
  left: 0;
}

.photo-gallery .navigation-container .navi-thumb .pageLink.next {
  right: 0;
}

.photo-gallery .navigation-container .navi-thumb ul.thumbs {
  *zoom: 1;
  height: 110px;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}

.photo-gallery .navigation-container .navi-thumb ul.thumbs li {
  margin: 0;
  text-align: center;
  width: 25%;
  overflow: hidden;
  img{
  	max-height: 100%;
  }
}

.photo-gallery .navigation-container .navi-thumb ul.thumbs li p {
  height: 75px;
  width: 100px;
}

.photo-gallery .navigation-container ul.thumbs {
  overflow: hidden;
}

.photo-gallery .navigation-container ul.thumbs li {
  float: left;
  margin: 0 1% 3%;
  width: 23%;
  list-style-type: none;
}

.photo-gallery-nav,
.article-nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 40px;
}

.photo-gallery-nav .prev,
.photo-gallery-nav .next,
.article-nav .prev,
.article-nav .next {
  height: 53px;
  overflow: hidden;
}

.photo-gallery-nav .prev,
.article-nav .prev {
  float: left;
  width: 300px;
  border-right: 1px solid #e0e1e1;
}

.photo-gallery-nav .next,
.article-nav .next {
  float: right;
}

.photo-gallery-nav .prev .image,
.article-nav .prev .image {
  float: left;
}

.photo-gallery-nav .next .image,
.article-nav .next .image {
  float: right;
}

.photo-gallery-nav .details,
.article-nav .details {
  line-height: 17px;
  font-size: 13px;
}

.photo-gallery-nav .details p.image-count {
  font-size: 12px;
}

.photo-gallery-nav .details a,
.article-nav .details a {
  color: #999;
}

.article-nav .details a.title {
  display: block;
  width: 205px;
  font-size: 14px;
}

.photo-gallery-nav .details a strong,
.article-nav .details a strong {
  color: #333;
}

.photo-gallery-nav .prev .details,
.article-nav .prev .details {
  margin-left: 80px;
}

.photo-gallery-nav .next .details,
.article-nav .next .details {
  margin-right: 80px;
  text-align: right;
}

.gallery-fix-thumb .courtesy {
  font-size: 11px;
  min-height: 18px;
  margin: 5px 0;
}
.page-gallery{
	.module-article .content{
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
	.photo-gallery .navigation-container .navi-thumb ul.thumbs li{
		height: 71px;
		line-height: 71px - 4;
	}
}

@media screen and (max-width: 767px) {
  /* GALLERY PAGE */
  .photo-gallery {
    margin-top: 14px;
    .gallery-t {
      height: 40px;
      .show-thumbnail {
        display: none;
      }
      .controls {
        width: 100%;
        left: 0;
        top: 0;
      }
      .nav-controls a {
        position: absolute;
        top: 0;
      }
      .nav-controls .prev {
        left: 0;
      }
      .nav-controls .next {
        right: 0;
      }
      .nav-controls span {
        width: 100%;
      }
    }

    .navigation-container {
      .thumbs {
        padding-left: 0;
      }
      .navi-thumb {
        .pageLink.prev{
        	left: -15px;
        }
        .pageLink.next {
          right: -15px;
        }
        ul.thumbs {
          height: 107px;
          overflow: hidden;
          margin-left: 0;
          margin-right: -1%;
          white-space: normal;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          li {
            margin: 0;
            width: 49%;
            margin-right: 0;
            height: 107px;
            line-height: 107px - 4;
          }
        }
      }
      .navigation{
      	min-height: 41px;
      }

      &.navigation-slide {
        margin-top: 0;
      }
    }
    .slideshow-wrap,
    .slideshow-wrap #slideshow {
      height: auto;
      line-height: normal;
      .advance-link{
      	display: block;
      	height: 218px;
      }
    }
    .slideshow-wrap #slideshow img {
      max-height: 100%;
      max-width: 100%;
    }
    .navigation-container.navigation-thumb{
    	.thumbs{
    		li{
    			width: 23%;
    			height: 50px;
    			line-height: 50px - 4;
    			img{
    				max-height: 100%;
    			}
    		}
    	}
    }
  }

}

@media screen and (max-width: 360px) {}
