.page-movie-singtel-tv {
  .module-singtel-tv-image {
    margin-bottom: 50px;
  }
  .available-now {
    .content ul li {
      &:first-child {
        .align-focus {
          a:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            background: url(../images/bg-dotted.png) 0px 1px;
          }
        }
      }
    }
  }
}
