.static {
  padding: 0 20px 20px;
  max-width: 950px;
  margin: 0 auto;
  overflow: hidden;
  .title-l {
    font-family: @fontFamilyRobotoSlabLight;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 18px 0;
    overflow: hidden;
  }
  a {
    color: #0091d0;
  }
  ul {
    margin: 0 3em 1em;
    padding: 0;
    line-height: 25px;
    li {
      list-style: disc;
      position: relative;
      ul {
        margin: 0 0 0 1.5em;
      }
      li {
        list-style: circle;
      }
    }
  }
  p {
    margin: 0;
    padding: 0
  }
  ol {
    margin: 0 3em 1em;
    line-height: 25px;
    li {
      list-style: decimal;
    }
  }
  h4 {
    font-weight: bold;
    margin: 0;
    padding: 0 0 15px 0;
  }
  .rss {
    li a {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .channels-main {
    margin-bottom: 2em;
    li {
      list-style: none;
      padding-left: 130px;
    }
    a {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .sitemap-main {
    margin: 0;
    overflow: hidden;
    text-align: center;
    li {
      border-top-width: 1px;
      border-top-style: solid;
      display: inline-block;
      vertical-align: top;
      list-style: none;
      padding: 0 2%;
      text-align: left;
      width: 33%;
      h4 {
        padding-bottom: 5px;
        padding-top: 10px;
      }
      &.hgw {
        border-top-color: #cc0000;
      }
      &.shopping {
        border-top-color: #e0477f;
      }
      &.movies {
        border-top-color: #9c4397;
      }
      &.events {
        border-top-color: #6bb836;
      }
      &.super-deals {
        border-top-color: #0091d0;
      }
      &.travel {
        border-top-color: #999;
      }
      &.news {
        border-top-color: #e60d2e;
      }
      &.business {
        border-top-color: #0079ae;
      }
      &.singnet {
        border-top-color: #ff4e50;
      }
      li {
        border-top: 0;
        display: block;
        margin-right: 0;
        padding: 0;
        width: auto;
      }
    }
  }
  .oops {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 13pt;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .faq {
    dt {
      margin-top: -70px;
      padding-top: 70px;
    }
  }
}

#faq-nav {
  ul {
    margin: 0 0 15px 0;
    li {
      list-style: none;
      ul {
        margin: 0 20px 15px;
      }
      li {
        list-style: disc;
      }
    }
  }
  h4 a {
    color: #e50038
  }
}

.title-s-m {
  border-top: 4px solid #0091d0;
  color: #0091d0;
  font-family: @fontFamilyOpenSansSemibold;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 -20px;
  padding: 20px 20px 15px;
  &.first {
    padding-bottom: 0;
  }
}

.info-container {
  p {
    padding-bottom: 15px;
  }
  h5 {
    font-weight: normal;
    font-style: italic;
    padding-bottom: 15px;
  }
  dt {
    font-weight: bold;
    padding-bottom: 15px;
  }
  dd {
    img {
      display: block
    }
    .back {
      font-size: 10px;
      margin-top: -15px;
    }
    ul,
    ol {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

#contact-faqs {
  background: #ebf5fa;
  margin-bottom: 15px;
  padding: 15px;
  h2 {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 1em 0;
  }
  h3 {
    color: #e50038;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  .faq-col {
    float: left;
    width: 49%;
    font-size: 11px;
  }
  .more-link {
    clear: both;
    text-align: right;
    font-size: 11px;
  }
}

#insing-address {
  overflow: hidden;
  margin-bottom: 15px;
  img {
    float: left;
    margin-right: 15px;
  }
}

.generic_form {
  .message-body {
    background: #f2f8fc;
    padding-top: 15px;
  }
  .captcha {
    margin-left: 180px;
    margin-top: 15px;
    max-width: 440px;
  }
  .submit {
    padding-top: 15px;
    text-align: center;
  }
  .item {
    position: relative;
    padding-bottom: 15px;
    padding-left: 180px;
    label {
      position: absolute;
      left: 0;
      top: 0;
      font-weight: bold;
      text-align: right;
      width: 170px;
      em {
        color: #f00;
        font-style: normal;
      }
    }
    input[type="text"],
    input[type="email"] {
      width: 30%
    }
    textarea {
      height: 8em;
      width: 90%;
    }
  }
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    .border-radius(3px);
    border: 1px solid #b0b0b0;
    font-family: @fontFamilyOpenSans;
    font-size: 14px;
    height: 26px;
    line-height: 24px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 0 0.5%;
  }
  .error {
    color: #f00;
    font-size: 11px;
    margin-bottom: -10px;
    padding-bottom: 0;
  }
}

.success-area {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  .border-radius(4px);
  color: #468847;
  padding: 8px 8px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.error-area {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  .border-radius(4px);
  color: #b94a48;
  padding: 8px 8px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

select,
input[type="text"] {
  font-family: Arial, sans-serif!important;
  /* fix: MAC will refresh page when click on select that has font-face */
  display: block;
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .static {
    padding-left: 10px;
    padding-right: 10px;
    .title-s-m {
      margin: 0;
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .static {
    padding-left: 10px;
    padding-right: 10px;
    .title-s-m {
      margin: 0;
      padding-left: 0;
    }
  }
}
