.page-movie-showtimes {
  .box-search-top {
    border-bottom: solid 1px @borderColor;
    padding-bottom: 45px;
    .module-search {
      margin-bottom: 10px;
      .dropdown-cinema {
        width: 190px;
      }
      .dropdown {
        .dropdown-container {
          margin-top: 10px;
          border-top-width: 1px;
          li {
            border-bottom-width: 0;
          }
        }
      }
      .dropdown-venue {
        width: 277px;
        .dropdown-container {
          li {
            padding: 5px 15px;
            &.group-label {
              padding: 15px 15px 5px;
            }
          }
        }
      }
      .link {
        span {
          width: 88px;
        }
      }
    }
    .hint-caption {
      .bold {
        font-family: @fontFamilyOpenSansBold;
      }
    }
  }
  .movies-now-showing {
    .header {
      .title-wrap {
        margin-bottom: 7px;
      }
      .hint-caption {
        .bold {
          font-family: @fontFamilyOpenSansBold;
        }
      }
    }
    .content ul {
      li {
        height: 340px;
        margin-bottom: 40px;
        .entry {
          .rating-control {
            margin-bottom: 4px;
          }
          .review-count,
          .click-to-review {
            display: none;
          }
          .click-to-review {
            text-transform: uppercase;
            color: @purple;
            font-size: 12px;
            font-family: @fontFamilyOpenSansBold;
          }
        }
      }
    }
    .view {
      display: none;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-movie-showtimes {
    .movies-now-showing{
       .content{
         ul{
          li{
            height: 275px;
            margin-bottom: 20px;
          }
         }
       }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-movie-showtimes {
    .box-search-top {
      padding-bottom: 30px;
      .hint-caption {
        font-size: 12px;
      }
      .module-search {
        padding: 15px;
        .dropdown {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
    .movies-now-showing {
      .content {
        ul {
          li {
            height: auto;
            margin-bottom: 20px;
            .entry {
              .review-count {
                font-size: 11px;
              }
              .info {
                font-size: 11px;
              }
              .review-count,
              .click-to-review {
                display: inline-block;
              }
            }
          }
        }
      }
      .view {
        display: block;
      }
    }
    .middle-right {
      .module-lastest-list,
      .module-restaurant-nearby {
        display: none;
      }
    }
  }
}
