.page-event-finder {
  .module-search {
    margin-bottom: 10px;
    .dropdown-checklist {
      .dropdown-container {
        left: auto;
        right: 0px;
        margin-top: 10px;
      }
    }
    .range-select {
      .dropdown-head .value {
        font-size: 13px;
      }
    }
  }
}

.tags-list {
  .title-wrap {
    margin-bottom: 10px;
  }
  .list {
    &:extend(.clearfix all);
    margin-right: -10px;
  }
  li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    .tag {
      height: 25px;
      line-height: 25px;
      color: @white;
      font-size: 11px;
      font-weight: bold;
      background-color: #ccc;
      padding: 0 20px;
      display: block;
      text-transform: uppercase;
      .border-radius(25px);
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .page-event-finder {
    .module-search {
      .control-input input {
        width: 212px;
      }
    }
    .middle-right {
      .module-event-submit {
        display: none;
      }
    }
    .head-wrap,.head-wrap.last {
      .title-wrap {
        padding-right: 0;
      }
    }
    .tags-list + .head-wrap{
    	.title-wrap {
        padding-right: 145px;
      }
    }
  }
}
