.page-event-submit {
  .event-submit-form {
    .category-list {
      margin-top: 3px;
      > li {
        width: 48%;
        float: left;
        .list {
          margin-top: 3px;
        }
      }
    }
    .freeTicket {
      float: left;
      margin-right: 20px;
    }
    .singleTicket {
      float: right;
      position: relative;
      > label {
        position: absolute;
        left: -135px;
      }
      .singlePrice-input {
        width: 195px;
        margin-left: 10px;
      }
      .group {
        label {
          padding-right: 5px;
          position: absolute;
        }
        .error {
          max-width: 210px;
          padding-left: 15px;
          position: static;
        }
      }
    }
    .multiTicket {
      clear: both;
      padding-top: 10px;
      .group {
        float: right;
        > div {
          display: inline-block;
          float: left;
          &:first-child {
            padding-right: 30px;
          }
          .error {
            max-width: 105px;
          }
        }
        span {
          padding: 0 18px;
          display: inline-block;
        }
        label {
          padding-right: 5px;
          position: absolute;
        }
        .error {
          position: static;
        }
      }
      .multiplePriceMin-input,
      .multiplePriceMax-input {
        width: 90px;
        margin-left: 10px;
      }
    }
    .freeTicket,
    .singleTicket,
    .multiTicket {
      label {
        padding-top: 7px;
      }
    }
    .group-address {
      @panel_width: 95px;
      &:extend(.clearfix all);
      margin-bottom: 10px;
      .panel1 {
        width: @panel_width;
        float: left;
      }
      .panel2 {
        padding-left: @panel_width + 10;
      }
      &.last {
        margin-bottom: 0;
      }
    }
    .fromDate-panel {
      float: left;
      width: 50%;
      padding-right: 10px;
    }
    .toDate-panel {
      float: right;
      width: 50%;
      padding-left: 10px;
    }
    .upload-preview {
      overflow: hidden;
      margin-right: -1%;
      img {
        float: left;
        max-width: 19%;
        max-height: 75px;
        margin-right: 1%;
      }
    }
    .controls {
      label,
      span,
      p,
      div {
        font-size: 12px;
      }
    }
    .category-list {
      label {
        font-size: 14px;
      }
      .list .title {
        font-size: 16px;
      }
    }
    .action-link {
      margin-top: 10px;
      button {
        margin-right: 18px;
      }
    }
    label.error {
      display: block;
      padding: 0!important;
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .page-event-submit {
    .event-submit-form {
      .control-label {
        width: 180px;
        font-size: 14px;
      }
      .controls {
        margin-left: 185px;
      }
      .datepicker-control {
        margin-bottom: 5px;
        input {
          width: 100%;
        }
      }
      .fromDate-panel {
        padding-right: 5px;
      }
      .toDate-panel {
        padding-left: 5px;
      }
      .category-list {
        >.list >li:nth-child(3) {
        	height: 115px;
        }
      }
      .freeTicket {
        float: none;
      }
      .singleTicket {
        float: none;
        > label {
          position: static;
          margin-bottom: 5px;
        }
        .group {
          label {
            float: left;
          }
        }
      }
      .multiTicket {
        float: none;
        padding-top: 0;
        > label {
          margin-bottom: 5px;
        }
        .group {
          float: none;
          label {
            float: left;
          }
          > div {
            float: left;
            &:first-child {
              padding-right: 24px;
            }
          }
        }
        .error {
          clear: both;
        }
      }
      .multiTicket + .error {
        clear: both;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-event-submit {
    .event-submit-form {
      .header .note {
        position: static;
      }
      .control-label {
        position: static;
        text-align: left;
        padding-bottom: 6px;
      }
      .controls {
        margin: 0;
        padding: 0;
      }
      .term-of-use,
      .action-link {
        text-align: center;
      }
      .freeTicket {
        float: none;
      }
      .singleTicket {
        float: none;
        > label {
          position: static;
        }
        .group {
          margin-top: 5px;
        }
      }
      .multiTicket {
        .group {
        	float: none;
        	margin-top: 5px;
        }
      }
      .multiTicket + .error {
        clear: both;
      }
      .category-list {
        .list {}
        li {
          width: 100%;
          float: none;
          margin-left: 0
        }
      }
    }
  }
}
