.page-movie-series {
  .movie-list {
    .item {
      &:first-child {
        .align-focus {
          a {
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 25px;
              height: 25px;
              background: url(../images/bg-dotted.png) -1px -1px;
            }
          }
        }
      }
    }
  }
}
