.page-article-single-movie {
  .module-article {
    .content {
      padding-bottom: 0;
    }
    .article-movie-top {
      @thumbWidth: 196px;
      background-color: #f5f5f5;
      overflow: hidden;
      height: 300px;
      margin-bottom: 30px;
      font-size: 13px;
      .thumbnail {
        width: @thumbWidth;
        text-align: center;
        float: left;
        height: 300px;
        line-height: 300px - 4;
      }
      .entry {
        padding-left: @thumbWidth + 20;
        padding-top: 10px;
        li {
          &:extend(.clearfix all);
          overflow: hidden;
          padding-bottom: 10px;
          >div {
            padding-bottom: 2px;
          }
        }
        .list {
          .name {
            font-family: @fontFamilyRobotoSlab;
            font-size: 32px;
            margin: 0;
            font-weight: normal;
          }
          .title {
            font-family: @fontFamilyOpenSansBold;
            color: #222;
            font-size: 12px;
            text-transform: uppercase;
          }
          .place {
            font-family: @fontFamilyOpenSansBold;
            color: @purple;
            font-size: 13px;
          }
          .rated,
          .genre {
            float: left;
          }
          .genre {
            margin-left: 30px;
          }
          .action-link {
            margin-top: 40px;
          }
          .link-review {}
          .link-showtime {
            margin-left: 10px;
          }
        }
      }
    }
    .content {
      .panel {
        margin-bottom: 30px;
        .title-wrap {
          font-family: @fontFamilyOpenSansExtrabold;
          font-size: 14px;
          color: #222;
          text-transform: uppercase;
          margin-bottom: 7px;
        }
        .entry {
          color: #555;
        }
      }
    }
    .photo-list {
      text-align: center;
      max-width: 588px;
      margin: 0 auto;
      position: relative;
      .list {
        font-size: 0;
      }
      .item {
        display: inline-block;
      }
      .owl-buttons {
        div {
          display: inline-block;
          background-image: url(@iconSpritePath);
          background-repeat: no-repeat;
          width: 40px;
          height: 40px;
          color: transparent;
          .border-radius(0);
          .opacity(100);
          position: absolute;
          margin: 0;
          padding: 0;
          top: 35px;
        }
        .owl-prev {
          background-position: -435px -25px;
          left: -20px;
        }
        .owl-next {
          background-position: -476px -25px;
          right: -20px;
        }
      }
    }
    .featuredCast-list {
      .list {
        overflow: hidden;
        margin-right: -2.5%;
      }
      .item {
        float: left;
        width: 24%;
        margin-right: 1%;
        .thumbnail {
          height: 212px;
          line-height: 212px - 4;
          margin-bottom: 14px;
        }
        .name {
          font-size: 16px;
          color: #555;
          text-align: center;
        }
      }
    }
    .fullCast-list {
      margin-top: 30px;
    }
    .other-article {
      @width_thumb: 145px;
      @height_thumb: 218px;
      li {
        .thumbnail {
          width: @width_thumb;
          height: @height_thumb;
          line-height: @height_thumb - 4;
        }
      }
      .prev {
        .info {
          padding-left: @width_thumb + 35;
          padding-right: 10px;
        }
      }
      .next {
        .info {
          padding-right: @width_thumb + 35;
          padding-left: 10px;
        }
      }
    }
    .weblink {
      .title {
        font-family: @fontFamilyOpenSansBold;
        font-size: 12px;
        padding-right: 5px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .page-article-single-movie {
    .module-article {
      .article-movie-top {
        height: auto;
        .thumbnail {
          float: none;
          width: 100%;
          height: auto;
          line-height: normal;
        }
        .entry {
          padding-left: 0;
          .list {
            padding: 0 15px;
            .name {
              font-size: 24px;
            }
            .action-link {
              margin-top: 7px;
            }
          }
        }
      }
      .content {
        .panel {
          .title-wrap {
            font-size: 12px;
          }
        }
      }
      .photo-list {
        .owl-buttons {
          .owl-prev {
            left: -10px;
          }
          .owl-next {
            right: -10px;
          }
        }
      }
      .other-article {
        @width_thumb: 73px;
        @height_thumb: 110px;
        li {
          .thumbnail {
            width: @width_thumb;
            height: @height_thumb;
            line-height: @height_thumb - 4;
          }
        }
        .prev {
          padding-left: 0;
          .thumbnail {
            margin-left: 0;
          }
          .link {
            left: -10px;
          }
          .info {
            padding-left: 0;
          }
        }
        .next {
          padding-right: 0;
          .thumbnail {
            margin-right: 0;
          }
          .link {
            right: -10px;
          }
          .info {
            padding-right: 0;
          }
        }
      }
    }
  }
}
