.page-event-submit-thanks {
  .thankyou {
    .title-wrap {
      margin-top: 10px;
      margin-bottom: 14px;
    }
    .thanks-detail {
      .caption {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 30px;
      }
      p {
      	margin: 0;
        font-size: 16px;
        font-family: @fontFamilyOpenSans;
      }
    }
    .action-link {
    	margin-top: 35px;
    	padding-top: 35px;
    	border-top: solid 1px @borderColor;
      text-align: center;
    }
  }
}
