// MOVIE - PURPLE
.page-movie {
  #page-header {
    border-top-color: @purple;
    .header-mobile {
      .nav-mobile {
        background-color: @purple;
      }
    }
    .login-panel a {
      background-color: @purple;
    }
    .search-container {
      .search-panel {
        .autoComplete-search {
          border-bottom-color: @purple;
        }
      }
    }
  }
  .module-search {
    .autoComplete-search {
      border-bottom-color: @purple;
    }
  }
  .module-grid-list,
  .module-movie-grid-list,
  .module-movie-list-four {
    .button-corner-cut {
      span {
        background-color: @purple;
      }
      &:before {
        background-position: -3px -76px;
      }
      &:after {
        background-position: -10px -76px;
      }
    }
    .view {
      a {
        color: @purple;
      }
      .icon-expand {
        background-position: -381px -9px;
      }
      .icon-collapse {
        background-position: -391px -9px;
      }
    }
  }
  .ajax-loader {
    border-left-color: @purple;
  }
  .panel-view-more,.module-expand .panel-view {
    a {
      color: @purple;
    }
    .icon-expand {
      background-position: -381px -9px;
    }
    .icon-collapse {
      background-position: -391px -9px;
    }
  }
}

// EVENT - GREEN
.page-event {
  #page-header {
    border-top-color: @green;
    .header-mobile {
      .nav-mobile {
        background-color: @green;
      }
    }
    .login-panel a {
      background-color: @green;
    }
    .search-container {
      .search-panel {
        .autoComplete-search {
          border-bottom-color: @green;
        }
      }
    }
  }
  .module-search {
    .autoComplete-search {
      border-bottom-color: @green;
    }
  }
  .module-grid-list,
  .module-movie-grid-list {
    .view {
      a {
        color: @green;
      }
      .icon-expand {
        background-position: -381px -2px;
      }
      .icon-collapse {
        background-position: -391px -2px;
      }
    }
  }
  .ajax-loader {
    border-left-color: @green;
  }
  .panel-view-more,.module-expand .panel-view {
    a {
      color: @green;
    }
    .icon-expand {
      background-position: -381px -2px;
    }
    .icon-collapse {
      background-position: -391px -2px;
    }
  }
}

// HUNGRYGOWHERE - RED
.page-hgw {
  #page-header {
    border-top-color: @red;
    .header-mobile {
      .nav-mobile {
        background-color: @red;
      }
    }
    .login-panel a {
      background-color: @red;
    }
    .search-container {
      .search-panel {
        .autoComplete-search {
          border-bottom-color: @red;
        }
      }
    }
  }
  .module-search {
    .autoComplete-search {
      border-bottom-color: @red;
    }
  }
}
