.icon {
  display: inline-block;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(@iconSpritePath);
  background-repeat: no-repeat;
}
.icon-chevron-right{
	width: 8px;
	height: 11px;
	background-position: -310px -90px;
}
.icon-heart{
	width: 20px;
  height: 18px;
  background-position: -266px -72px;
  &.active{
  	background-position: -266px -90px;
  }
}
.icon-singtel-tv {
  width: 120px;
  height: 47px;
  background-position: -6px -238px;
}

.icon-singtel-tv-large {
  width: 238px;
  height: 95px;
  background-position: -6px -295px;
}

.icon-movie-play {
  width: 67px;
  height: 67px;
  background-position: -125px -137px;
}

.icon-win-ticket {
  width: 98px;
  height: 97px;
  background-position: -6px -130px;
}

.icon-scrolltop {
  width: 73px;
  height: 70px;
  background-position: -643px -1px;
}

.icon-star {
  width: 15px;
  height: 15px;
  background-position: -313px -1px;
  &.empty {
    background-position: -330px -1px;
  }
  &.empty.light {
    background-position: -345px -1px;
  }
}

.icon-thanks-large {
  width: 571px;
  height: 181px;
  background-position: -5px -850px;
}

.icon-vote {
  width: 15px;
  height: 15px;
  background-position: -520px -25px;
}

.icon-article-prev {
  width: 40px;
  height: 40px;
  background-position: -435px -25px;
}

.icon-article-next {
  width: 40px;
  height: 40px;
  background-position: -476px -25px;
}

.icon-search-close {
  width: 33px;
  height: 33px;
  background-position: -369px -26px;
}

.icon-arrow-down {
  width: 11px;
  height: 8px;
  background-position: -300px -54px;
}

.icon-arrow-up {
  width: 11px;
  height: 8px;
  background-position: -300px -45px;
}

.icon-calendar {
  width: 19px;
  height: 19px;
  background-position: -320px -40px;
}

.icon-calendar-small {
  width: 15px;
  height: 17px;
  background-position: -320px -22px;
}

.icon-go {
  width: 54px;
  height: 30px;
  background-position: -350px -30px;
}

.icon-logo {
  width: 120px;
  height: 40px;
  background-position: -2px -4px;
}

.social-share .icon {
  width: 18px;
  height: 18px;
}

.icon-facebook-fix {
  width: 18px;
  height: 18px;
  background-position: -133px -2px;
}

.icon-twitter-fix {
  width: 18px;
  height: 18px;
  background-position: -158px -2px;
}

.icon-google-fix {
  width: 18px;
  height: 18px;
  background-position: -182px -2px;
}

.icon-instagram-fix {
  width: 18px;
  height: 18px;
  background-position: -208px -2px;
}

.icon-facebook {
  background-position: -133px -2px;
}

.icon-twitter {
  background-position: -158px -2px;
}

.icon-google {
  background-position: -182px -2px;
}

.icon-instagram {
  background-position: -208px -2px;
}

.icon-search-nav {
  width: 18px;
  height: 18px;
  background-position: -238px -2px;
}

.icon-search {
  width: 25px;
  height: 25px;
  background-position: -264px -37px;
}

.icon-menu {
  width: 23px;
  height: 10px;
  background-position: -408px -4px;
}

.icon-menu-close {
  width: 18px;
  height: 18px;
  background-position: -439px -2px;
}

.icon-cicle-dotted {
  width: 211px;
  height: 210px;
  background-position: -922px -929px;
}

.icon-button-corner {
  width: 100px;
  height: 30px;
  background-position: -1035px -5px;
}

.icon-cicle-haft-dotted {
  width: 319px;
  height: 79px;
  background-position: -420px -1060px;
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .icon-logo {
    width: 85px;
    height: 28px;
    background-position: -3px -45px;
  }
  .icon-search-close {
    width: 13px;
    height: 13px;
    background-position: -347px -27px;
  }
  .icon-search-nav {
    width: 21px;
    height: 21px;
    background-position: -410px -25px;
  }
  .icon-button-corner {
    width: 74px;
    background-position: -1035px -45px;
  }
  .icon-cicle-dotted {
    width: 151px;
    height: 150px;
    background-position: -761px -988px;
  }
  .icon-cicle-haft-dotted {
    width: 239px;
    height: 61px;
    background-position: -160px -1079px;
  }
  .social-share .icon {
    width: 28px;
    height: 28px;
  }
  .icon-facebook {
    background-position: -131px -37px;
  }
  .icon-twitter {
    background-position: -163px -37px;
  }
  .icon-google {
    background-position: -192px -37px;
  }
  .icon-instagram {
    background-position: -224px -37px;
  }
  .icon-article-prev {
    width: 30px;
    height: 30px;
    background-position: -445px -66px;
  }
  .icon-article-next {
    width: 30px;
    height: 30px;
    background-position: -476px -66px;
  }
}
