.panel-view-more {
  text-align: center;
  border-top: solid 1px @whiteLight;
  padding-top: 10px;
  margin-bottom: 40px;
  margin-top: 20px;
  .lbl-collapse {
    display: none;
  }
  a {
    color: @purple;
    font-family: @fontFamilyOpenSansBold;
    font-size: 12px;
    .icon {
      margin-top: 5px;
      margin-right: 10px;
    }
  }
}

a.no-link {
  cursor: default;
}

img.no-photo {
  height: 100%;
  width: 100%;
}

.scroll-ios {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  iframe {
    width: 100%!important;
    height: 100%!important;
  }
}

.border-top {
  &:before {
    content: "";
    display: block;
    border-top: solid 1px @borderColor;
    padding-top: 30px;
  }
}

.border-bottom {
  &:after {
    content: "";
    display: block;
    border-bottom: solid 1px @borderColor;
    padding-bottom: 30px;
  }
}

.placeholder {
  color: #aaa;
}

.col1 {
  width: 10%!important;
}

.col2 {
  width: 20%!important;
}

.col3 {
  width: 30%!important;
}

.col4 {
  width: 40%!important;
}

.col5 {
  width: 50%!important;
}

.col6 {
  width: 60%!important;
}

.col7 {
  width: 70%!important;
}

.col8 {
  width: 80%!important;
}

.col9 {
  width: 90%!important;
}

.col10 {
  width: 100%!important;
}

.pt0 {
  padding-top: 0!important;
}

.pr0 {
  padding-right: 0!important;
}

.pb0 {
  padding-bottom: 0!important;
}

.pl0 {
  padding-left: 0!important;
}

.pt10 {
  padding-top: 10px!important;
}

.pr10 {
  padding-right: 10px!important;
}

.pb10 {
  padding-bottom: 10px!important;
}

.pl10 {
  padding-left: 10px!important;
}

.pt15 {
  padding-top: 15px!important;
}

.pr15 {
  padding-right: 15px!important;
}

.pb15 {
  padding-bottom: 15px!important;
}

.pl15 {
  padding-left: 15px!important;
}

.pt20 {
  padding-top: 20px!important;
}

.pr20 {
  padding-right: 20px!important;
}

.pb20 {
  padding-bottom: 20px!important;
}

.pl20 {
  padding-left: 20px!important;
}

.pt30 {
  padding-top: 30px!important;
}

.pr30 {
  padding-right: 30px!important;
}

.pb30 {
  padding-bottom: 30px!important;
}

.pl30 {
  padding-left: 30px!important;
}

.pt40 {
  padding-top: 40px!important;
}

.pr40 {
  padding-right: 40px!important;
}

.pb40 {
  padding-bottom: 40px!important;
}

.pl40 {
  padding-left: 40px!important;
}

.mt0 {
  margin-top: 0!important;
}

.mr0 {
  margin-right: 0!important;
}

.mb0 {
  margin-bottom: 0!important;
}

.ml0 {
  margin-left: 0!important;
}

.mt10 {
  margin-top: 10px!important;
}

.mr10 {
  margin-right: 10px!important;
}

.mb10 {
  margin-bottom: 10px!important;
}

.ml10 {
  margin-left: 10px!important;
}

.mt15 {
  margin-top: 15px!important;
}

.mr15 {
  margin-right: 15px!important;
}

.mb15 {
  margin-bottom: 15px!important;
}

.ml15 {
  margin-left: 15px!important;
}

.mt20 {
  margin-top: 20px!important;
}

.mr20 {
  margin-right: 20px!important;
}

.mb20 {
  margin-bottom: 20px!important;
}

.ml20 {
  margin-left: 20px!important;
}

.mt30 {
  margin-top: 30px!important;
}

.mr30 {
  margin-right: 30px!important;
}

.mb30 {
  margin-bottom: 30px!important;
}

.ml30 {
  margin-left: 30px!important;
}

.mt40 {
  margin-top: 40px!important;
}

.mr40 {
  margin-right: 40px!important;
}

.mb40 {
  margin-bottom: 40px!important;
}

.ml40 {
  margin-left: 40px!important;
}

//RobotoSlab
.rs-light-xl {
  font-family: @fontFamilyRobotoSlabLight;
  font-size: 60px;
  font-weight: normal;
  line-height: 64px;
  margin: 0;
  overflow: hidden;
}

.rs-light-l {
  font-family: @fontFamilyRobotoSlabLight;
  font-size: 46px;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
  overflow: hidden;
}

.rs-light-m {
  font-family: @fontFamilyRobotoSlabLight;
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  margin: 0;
  overflow: hidden;
}

.rs-light-sm {
  font-family: @fontFamilyRobotoSlabLight;
  font-size: 32px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
}

.rs-light-s {
  font-family: @fontFamilyRobotoSlabLight;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
}

.rs-light-ss {
  font-family: @fontFamilyRobotoSlabLight;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  overflow: hidden;
}

// regular
.rs-regular-m {
  font-family: @fontFamilyRobotoSlab;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
}

.rs-regular-sm {
  font-family: @fontFamilyRobotoSlab;
  font-size: 32px;
  font-weight: normal;
  line-height: 44px;
  margin: 0;
  overflow: hidden;
}

.rs-regular-s {
  font-family: @fontFamilyRobotoSlab;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.rs-regular-ss {
  font-family: @fontFamilyRobotoSlab;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}

.rs-regular-ts {
  font-family: @fontFamilyRobotoSlab;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}

//OpenSans
.os-light-xl {
  font-family: @fontFamilyOpenSansLight;
  font-size: 60px;
  font-weight: normal;
  line-height: 64px;
  margin: 0;
  overflow: hidden;
}

.os-light-l {
  font-family: @fontFamilyOpenSansLight;
  font-size: 46px;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
  overflow: hidden;
}

.os-light-m {
  font-family: @fontFamilyOpenSansLight;
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  margin: 0;
  overflow: hidden;
}

.os-light-sm {
  font-family: @fontFamilyOpenSansLight;
  font-size: 32px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
}

.os-light-s {
  font-family: @fontFamilyOpenSansLight;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
}

.os-light-ss {
  font-family: @fontFamilyOpenSansLight;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  overflow: hidden;
}

.os-regular-m {
  font-family: @fontFamilyOpenSans;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
}

.os-regular-sm {
  font-family: @fontFamilyOpenSans;
  font-size: 32px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
}

.os-regular-s {
  font-family: @fontFamilyOpenSans;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.os-regular-ss {
  color: @grayDarker;
  font-family: @fontFamilyOpenSans;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}

.os-regular-ts {
  color: @grayDark;
  font-family: @fontFamilyOpenSans;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}

// bold
.os-bold-m {
  font-family: @fontFamilyOpenSansBold;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
}

.os-bold-sm {
  font-family: @fontFamilyOpenSansBold;
  font-size: 32px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
}

.os-bold-s {
  font-family: @fontFamilyOpenSansBold;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.os-bold-ss {
  color: @grayDarker;
  font-family: @fontFamilyOpenSansBold;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}

.os-bold-ts {
  color: @grayDark;
  font-family: @fontFamilyOpenSansBold;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}

// semibold
.os-semibold-m {
  font-family: @fontFamilyOpenSansSemibold;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
}

.os-semibold-sm {
  font-family: @fontFamilyOpenSansSemibold;
  font-size: 32px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
}

.os-semibold-s {
  font-family: @fontFamilyOpenSansSemibold;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.os-semibold-ss {
  color: @grayDarker;
  font-family: @fontFamilyOpenSansSemibold;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}

.os-semibold-ts {
  color: @grayDark;
  font-family: @fontFamilyOpenSansSemibold;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}

//extra bold
.os-extrabold-m {
  font-family: @fontFamilyOpenSansExtrabold;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  overflow: hidden;
}

.os-extrabold-sm {
  font-family: @fontFamilyOpenSansExtrabold;
  font-size: 32px;
  font-weight: normal;
  line-height: 36px;
  margin: 0;
  overflow: hidden;
}

.os-extrabold-s {
  font-family: @fontFamilyOpenSansExtrabold;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.os-extrabold-ss {
  color: @grayDarker;
  font-family: @fontFamilyOpenSansExtrabold;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}

.os-extrabold-ts {
  color: @grayDark;
  font-family: @fontFamilyOpenSansExtrabold;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 980px) {}

@media screen and (min-width: 981px) and (max-width: 1120px) {}

@media screen and (min-width: 768px) and (max-width: 980px) {}

@media screen and (max-width: 767px) {
  .rs-regular-sm {
    font-size: 24px;
    line-height: 28px;
  }
  .rs-regular-s {
    font-size: 19px;
    line-height: 23px;
  }
  .os-bold-ts,
  .os-semibold-ts,
  .os-extrabold-ts {
    font-size: 12px;
    line-height: 16px;
  }
  .border-top {
    &:before {
      padding-top: 25px;
    }
  }
  .border-bottom {
    &:after {
      padding-bottom: 25px;
    }
  }
}
