//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:               #000;
@grayDarker:          #011327;
@grayDark:            #212329;
@gray:                #333;
@graySemiLight:       #555;
@grayLight:           #999;
@grayLighter:         #afafaf;
@white:               #fff;
@whiteDark:         	#e5e5e5;
@whiteLight:          #f1f1f1;
@yellowDark:          #FFA200;

// Accent colors
// -------------------------
@green:               #72c042;


@red:                 #d21f25;
@redLight:					  #e60d2e;

@purple:              #972792;


@orange:              #ff9600;


@yellow:              #F9B400;



@fontFamilyRobotoSlabLight:   "RobotoSlabLight", Arial, sans-serif;
@fontFamilyRobotoSlab:        "RobotoSlab", Arial, sans-serif;


@fontFamilyOpenSans:          "OpenSans", Arial, sans-serif;
@fontFamilyOpenSansLight:     "OpenSansLight", Arial, sans-serif;
@fontFamilyOpenSansBold:      "OpenSansBold", Arial, sans-serif;
@fontFamilyOpenSansSemibold:  "OpenSansSemibold", Arial, sans-serif;
@fontFamilyOpenSansExtrabold: "OpenSansExtrabold", Arial, sans-serif;

// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @gray;
@borderColor:           @whiteDark;
@fontSize:              13px;
// Sprite icons path
// -------------------------
@iconSpritePath:        "../images/sprites.png";
