{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ getParameter('insing_frontend_contact_us_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_contact_us_meta_description') }}
{% endblock %}
{% block body %}
    {% form_theme contactUsForm 'inSingFrontendBundle::form_fields.html.twig' %}
    <div id="page-container" class="page-static">
        <div class="wrapper-middle">
            <div class="static">
                <h3 class="title-s-m first">About InSing</h3>
                <h1 class="title-l">Contact Us</h1>
                <div class="info-container">
                    <p>Need help? Why not have a look at our FAQ section first, others may have the same question as you!</p>
                </div>
                <section id="contact-faqs">
                    <h2>Top questions from our FAQ section</h2>
                    <div class="faq-col">
                        <h3>inSing.com</h3>
                        <ul>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#how-to-signup">How do I sign in to the inSing portal?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#why-signup">Why should I sign up with inSing?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#forgot-password">What happens if I've forgotten my password?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#change-password">How do I change my password?</a></li>
                        </ul>
                        <h3>Search and Fast Finder</h3>
                        <ul>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#insing-content">What kind of content can I expect to find on inSing?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#faq-search">How do I search through all the content on inSing?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#insing-business">How can I refine my search results?</a></li>
                        </ul>
                    </div>
                    <div class="faq-col">
                        <h3>Reviews</h3>
                        <ul>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#review-guide">How do I write a review?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#review-unlisted-business">I want to review a business but it's not listed.</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#faq-report-review">How do I report inappropriate reviews?</a></li>
                        </ul>
                        <h3>Biz &amp; Service Finder</h3>
                        <ul>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#list-business">How can I list my business on inSing?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#update-business">How do I update my business details?</a></li>
                            <li><a href="{{ path('insing_frontend_homepage_faq') }}#how-to-advertise">How do I advertise in Biz &amp; Service Finder?</a></li>
                        </ul>
                    </div>
                    <p class="more-link"><a href="{{ path('insing_frontend_homepage_faq') }}">More Frequently Asked Questions</a></p>
                </section>
                <div class="info-container">
                    <h3 class="title-s-m">Our Office Location</h3>
                    <section id="insing-address" itemscope="" itemtype="http://schema.org/LocalBusiness">
                        <a href="http://search.insing.com/business/singtel-digital-media/bukit-merah-redhill-alexandra/id-a7570200"><img width="300" height="200" alt="Image: Insing Offices" src="{{ asset('bundles/insingfrontend/images/insing-office.jpg') }}"></a>
                        <p class="address"><strong itemprop="name">Singtel Digital Media Pte Ltd</strong></p>
                        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">31C Exeter Road<br> ComCentre 3 (Atrium) Level 1</span>
                            <br>
                            <span itemprop="addressCountry">Singapore</span> <span itemprop="postalCode">239734</span>
                        </div>
                        <p><a href="http://search.insing.com/business/singtel-digital-media/bukit-merah-redhill-alexandra/id-a7570200">Map &amp; Directions</a></p>
                        <p>Contact us through <a href="mailto:customercare@insing.com">customercare@insing.com</a>
                            <br>Fax: <span itemprop="faxNumber">63271654</span></p>
                    </section>
                </div>
                <div class="info-container">
                    <h3 class="title-s-m">Talk to us</h3>
                    <p>If you still can't find what you're looking for, please fill up the contact form below and we will get back to you as soon as possible.</p>
                    {% include "inSingFrontendBundle::message.html.twig" %}

                    <form id="form_contactUs" class="generic_form" action="{{ path('insing_frontend_homepage_contact-us') }}" method="post">
                        {{ form_row(contactUsForm._token) }}

                        <section class="message-user">
                            <div class="item">
                                <label class="required" for="contactus_name">Name<em>*</em></label>
                                {{ form_widget(contactUsForm.name) }}
                                <p class="error">{{ form_errors(contactUsForm.name) }}</p>
                            </div>

                            <div class="item">
                                <label class="required" for="contactus_email">Email<em>*</em></label>
                                {{ form_widget(contactUsForm.email) }}
                                <p class="error">{{ form_errors(contactUsForm.email) }}</p>
                            </div>

                            <div class="item">
                                <label class="required" for="contactus_mobile">Mobile<em>*</em></label>
                                {{ form_widget(contactUsForm.mobile) }}
                                <p class="error">{{ form_errors(contactUsForm.mobile) }}</p>
                            </div>
                        </section>
                        <section class="message-body">
                            <div class="item">
                                <label class="required" for="contactus_typeOfFeedback">Type Of Feedback<em>*</em></label>
                                {{ form_widget(contactUsForm.typeOfFeedback) }}
                                <p class="error">{{ form_errors(contactUsForm.typeOfFeedback) }}</p>
                            </div>
                            <div class="item form-subject">
                                <label class="required" for="contactus_subject">Subject<em>*</em></label>
                                {{ form_widget(contactUsForm.subject) }}
                                <p class="error">{{ form_errors(contactUsForm.subject) }}</p>
                            </div>

                            <div class="item">
                                <label class="required" for="contactus_comments">Comments<em>*</em></label>
                                {{ form_widget(contactUsForm.comments) }}
                                <p class="error">{{ form_errors(contactUsForm.comments) }}</p>
                            </div>
                        </section>

                        <div style="display:none;">
                            <select id="select_backup"></select>
                        </div>

                        <section class="captcha">
                            {{ recaptcha('clean') }}
                            <p class="error">{{ form_errors(contactUsForm.error_captcha) }}</p>
                        </section>

                        <section class="submit">
                            <input data-role="none" type="submit" value="Submit">
                            <input data-role="none" type="reset" value="Reset">
                        </section>
                    </form>
                </div>
            </div>
            <!-- /.static -->
        </div>
{% endblock body %}


{% block js_lib_top %}
    {{ parent() }}
    {%
    javascripts filter='yui_js' output = 'bundles/insingfrontend/js/*.js'
    '@inSingFrontendBundle/Resources/public/js/contact.js'
    %}
    <script type="text/javascript"  src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}